body{  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
.font-size-144{font-size: 10rem;}
.horizontal-center{margin: 0 auto;}
.horizontal-text-center{text-align: center;}
.vertical-center{  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  }
.hander{ cursor: pointer;}
.fl{ float: left;}
.fr{ float: right;}
/*.big-title{text-shadow: 1px 1px 1px #FF0000;}*/
/*.transform-red{*/
    /*background:yellow;*/
    /*transition:background 2s;*/
    /*-moz-transition:background 2s; !* Firefox 4 *!*/
    /*-webkit-transition:background 2s; !* Safari and Chrome *!*/
    /*-o-transition:background 2s; !* Opera *!*/
/*}*/
.bg-color{
    /*background-color: rgba(15, 17, 140,0.75);*/
    background-color: rgba(40, 42, 55,0.75);
}
.text-gradient{
     background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(128, 0, 71, 1)), to(rgba(59, 92, 130, 1)));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    color: rgba(128, 0, 71, 1);
}
.text-gradient:hover{
    color: rgba(64, 82, 28, 1);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(64, 82, 28, 1)), to(rgba(105, 65, 28, 1)));;
}
.name-list{  opacity:0;  }
.index_nav{
    margin-top:12rem;
}
.index_nav > div:not(:last-child){
    border-right: dotted 1px black;
}
.index_nav > div h1, h2, h3, h4, h5, h6{
    cursor: pointer;
}
.index_nav > div h4:hover{
    color:rebeccapurple;
    font-weight: bold;
}
.zl-footer{
    width: 100%;
    position: fixed;
    top:557px;
    /*bottom:0;*/
    background-color: rgba(0,0,0,0.75);
    color:#999;
}
.login-window{
    width: 24rem; height:auto;overflow: hidden;top:250px;right:190px;position:absolute; border-radius: 5px;
    padding:22px 30px;background-color: rgba(0,0,0,0.2);color:#999;
}
.login-window .login-title{
    padding-bottom: 3px;color: #ffffff;
}
.login-window .login-form-input{
    margin-bottom:15px;font-size: 12px; line-height: 18px;
}
.login-window .remember-account{
    font-size: 12px;line-height: 18px;vertical-align: top;color: #ffffff;
}
.login-window .forget-password{
    font-size: 12px;vertical-align: top;margin-left: 77px;color: #ffffff;
}
.my-nav{
    left:150px;
    position: absolute !important;
    transition: left 1s;
}
.side-menu{
    position: fixed;
    top: 0;
    left: 0px;
    width: 150px;
    height: 100%;
    background-color: #151829;
    z-index: 100;
    -webkit-transition: right .3s;
    transition: left 1s;
}
.panel-background{
    background-color: rgba(0, 0, 0, 0.2);
}
.side-menu .panel-group .panel .panel-collapse ul li.list-group-item{
    border: none !important;
    cursor: pointer;
    padding: 10px 0px;
}
.side-menu .panel-group .panel .panel-collapse .panel-body{
    padding:0;
}
.side-menu .panel-group .panel .panel-collapse .panel-body ul li span{
    margin-left: 10px;
    transition: left 1s;
    padding-right: 10px;
}
.main-body{
    margin-top: 65px;
    margin-left: 150px;
    /*margin-bottom: 200px;*/
    transition: 1s;
}
.alert-white{
    background-color: rgba(255, 255, 255, 0.8)!important;
    /*color: #FFFFFF!important;*/
}
.alert-blankRed{
    background-color: rgba(31, 16, 16, 1)!important;
    color: #FFFFFF!important;
}
.area-list-item{
    padding-top:0;padding-bottom: 0;margin-bottom: 0; width: 120px;
}
.area-list-item .close{
    display: none;
}
.mb10{
    margin-bottom: 10px;
}
.footer-fix-bottom{
    position: relative;
    right: 0;
    left: 0;
    z-index: 10;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    background-color: rgba(0,0,0,0.75);
    color:#999;
}
.breadcrumb-my{
    margin:0 !important;
    background-color: inherit !important;
}
.account-pagination{
    margin: 0;
}
.account-pagination li a{
    background-color: #0C1220;
    margin-left: 10px;
    border-radius: 4px;
}
.device-list tbody tr td{
    vertical-align: middle;
}
.device-info tbody tr td{
    vertical-align: middle;
}
.childMenu{
    margin-left: 10px;
}
.location-filter > div{
    text-align: center;
}
.location-filter .filter-value div span{
    display: inline-block;
    width:50%;
}
.location-filter .filter-value div span.active{
    border-radius: 2px;
    background-color: #2bb8aa;
    color: #fff;
}
.maintain-process div span{
    text-align: center;
    border: 2px solid #FFFFFF!important;
    border-radius: 4px;
    box-shadow: none !important;
    color: #C7D5E0 !important;
    font-size: 13px !important;
    display: block;
    width:100%;
}
.maintain-process span.active{
    border: 2px solid #00FF00!important;
}
.maintain-process span.waiting{
    border: 2px solid #FF0000!important;
}
.temperature-test tr td span{
    padding: 5px;border-radius: 6px;
}
.temperature-test .normal{
    border: 1px solid #00ff00;
}
.temperature-test .warning{
    border: 1px solid #ffff00;
}
.temperature-test .danger{
    border: 1px solid #ff0000;
}
.device-health-info > div > div{
    border-bottom: 1px dotted #ffffff;
    padding: 10px;
}
.device-health-info > div > div > div:not(:last-child){
    border-right: 1px solid #ffffff;
}
.leakage-list .start, .processing, .finish{
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 5px;
}
.leakage-list .start{
    border: 1px solid #00FF00;
}
.leakage-list .processing{
    border: 1px solid red;
}
.leakage-list .finish{
    border: 1px solid #00CDAE;
}
.taskBoxLinks {
    float:left;
    width:200px;
    height:10px;
    font-size:0;
    line-height:0;
    background:#f2f2f2;
    border:1px solid #dedede;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    position:relative;
    margin-top:10px;
    margin-right:10px;
    cursor:pointer;
}
.taskBoxLinks h3, .taskBoxLinks h4{
    margin : 0;
    position:absolute;
    left:-1px;
    top:-1px;
    height:10px;
    font-size:0;
    line-height:0;
    width:10%;
    background:#a3d9f4;
    border:1px solid #187aab;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    z-index:99;
}
.taskBoxLinks h4 { border:1px solid #91cdea; background:#f5fafc; z-index:88;}
@media (min-width: 992px){
    .col9-md-1, .col9-md-8{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }
   .col9-md-1 {
       width: 10.6111111%;
   }
    .col9-md-8 {
       width: 89.3888889%;
   }
}
.terminal-head{
    height: 72px;
    /*background-color: #5d686b;*/
    position: relative;
    margin: 0 auto;
    width: 80%;
}
.head_nav{
    height: 40px;
    background-color: #003870;
    position: relative;
    margin: 0 auto;
    width: 80%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.terminal-main-body{
    background-color:rgba(255,255,255,0.75);
    width: 80%;
    margin:0 auto;
    margin-top:10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color:#000;
    min-height: 600px;
}
@media (max-width:600px){
  .terminal-main-body{
    width: 100%;
  }
}
.save-btn{
    width: 100px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    margin-right: 10px;
    padding: 5px 10px;
}
.tab-blue{
    background: #3a73ad;
}
.tab-tip{
    border-radius: 4px;
    padding: 10px 0;
    padding-left: 10px;
    font-family: '微软雅黑', '宋体', Arial;
}
.save-btn-green{
    background: #3a73ad; border-radius: 4px;padding: 10px 0;padding-left: 10px;
    font-family: '微软雅黑', '宋体', Arial;text-align: right;
}
.submit-btn-green{
    border-radius: 4px;padding-left: 10px;
    padding-bottom: 10px;
    font-family: '微软雅黑', '宋体', Arial;text-align: right;
}
.terminal-name{
    height: 500px; line-height: 500px;
}
.terminal-login-window{
    position: relative;color: white;
}
.terminal-login-window .login-form{
    position: relative;top: 180px;border-radius: 4px; padding: 20px 20px;background-color: rgba(0,0,0,0.2);
}
.terminal-login-window .login-form .login-form-input{
    margin-top: 10px;
}
.terminal-login-window .login-form .login-tool-tip{
    text-align: left;padding: 10px 0;
}
.login-tool-tip a{
    color: #ffffff;vertical-align: top;
}
.red-form input{
     color: red !important;
}
.form-input{
    border-radius: 4px;border: 1px solid !important;height: 27px !important;color: #555;padding: 6px 12px;
}
.black-color .form-control{
    color: black !important;
}