<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF8">
    <title>{% block title %}{% endblock %}</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.1, maximum-scale=10, user-scalable=yes">
    <link rel = "icon" href = "/site_media/images/web_icon.png">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/animate.min.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/dripicon.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/template_style.css">
<link rel="stylesheet" type="text/css"  href = "/site_media/css/zhengsheng.css">
{#    <link rel="stylesheet" type="text/css"  href = "/site_media/css/jquery_slide_style.css">#}
{#    <link rel="stylesheet" type="text/css"  href = "/site_media/css/entypo-icon.css">#}
    {% block special_css %}
    {% endblock %}
</head>
<body style="background: url(/site_media/images/cloud.jpg);-moz-background-size: cover;-ms-background-size: cover;-webkit-background-size: cover;background-size: cover;">
    {% block head %}
        <div class="terminal-head">
            <div class="inline"><img src="/site_media/images/zhengsheng_icon.jpg"></div>
            <div style="position: absolute;right: 0;bottom: 0;">
                |<span style="padding: 0 10px;">欢迎你：<span name="terminal-top-username"></span></span>|<span style="padding: 0 10px;cursor:pointer;"
                              onclick="window.location.href='/terminal/user/login/'">退出</span>|<span style="padding: 0 10px;"></span>
            </div>
        </div>
    {% endblock %}
    {% block head_nav %}
        <nav>
            <div class="head_nav">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <span class="glyphicon glyphicon-home" style="position: absolute;top:10px;"></span>
                        <ul class="nav nav-pills pull-right terminal-tab">
                            <li class=""><a href="/terminal/index/">我的资料</a></li>
                            <li><a href="/terminal/electricity_info/">用电信息</a></li>
                            <li><a href="/terminal/device_info/">我的设备</a></li>
                            <li><a href="/terminal/fund/">充值记录</a></li>
                            <li><a href="/terminal/details/">用电明细</a></li>
{#                            <li><a href="/terminal/month/">月账单</a></li>#}
                            <li><a href="/terminal/work_order/">工单列表</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block main_body %}
    {% endblock %}
    <div class="horizontal-text-center footer-fix-bottom">
        <section>
            <h4>友情链接</h4>
            <p>
                <a href="http://www.nmc.gov.cn/" target="_blank" rel="nofollow">中央气象台</a>
                 |<a href="http://www.weather.com/" target="_blank" rel="nofollow">美国气象频道</a>
                 |<a href="http://www.weather.com.cn/" target="_blank" rel="nofollow">中国天气网</a>
                 |<a href="http://www.pm25.com/" target="_blank" rel="nofollow">绿色呼吸</a>
                 |<a href="http://www.feeyo.com/" target="_blank" rel="nofollow">飞友网</a>
                 |<a href="http://i.firefoxchina.cn/?www.firefoxchina.cn" target="_blank" rel="nofollow">火狐浏览器</a>
                 |<a href="http://tianqitong.sina.cn/" target="_blank" rel="nofollow">天气通</a>
                 |<a href="http://weather.mipang.com" target="_blank" rel="nofollow">米胖天气</a>
                 |<a href="http://www.xn121.com/" target="_blank" rel="nofollow">兴农网</a>
                 |<a href="http://www.mlogcn.com/" target="_blank" rel="nofollow">象辑科技</a>
                 |<a href="http://www.tianqi.com/" target="_blank" rel="nofollow">天气网</a>
            </p>
        </section>
        <section>
            <p>关于我们|联系我们|批评建议</p>
            <p>Copyright © 2016-2016 BNU, All Rights Reserved</p>
            <p>北京师范大学 版权所有</p>
        </section>
    </div>

    <!--JavaScript File -->
    <script type = "text/javascript" src = "/site_media/js/jquery-2.2.1.min.js"></script>
    <script type = "text/javascript" src = "/site_media/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/site_media/js/jquery.transit.js"></script>
    <script type = "text/javascript" src = "/site_media/js/zhengsheng_terminal.js"></script>
    <script type = "text/javascript" src = "/site_media/js/highcharts.js"></script>
{#    <script type = "text/javascript" src = "/site_media/js/jquery_slide.js"></script>#}
    <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        $(function(){
            var username = "{{ user.username }}";
            $("[name=terminal-top-username]").html(username);
        });
    </script>
    {% block special_js %}

    {% endblock %}
</body>
</html>