{% extends "terminalUser/base.html" %}
{% block title %}月账单{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                总用电量
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>用电量</th>
                                <th>余额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ latest_data.total_power }}kw</td>
                                <td>{{ fund.total_num }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue">
                月账单
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>结算日期</th>
                                <th>消费</th>
                                <th>余额</th>
                                <th>电量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fund in fund_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ fund.time }}</td>
                                <td>{{ fund.num }}</td>
                                <td>{{ fund.total_num }}</td>
                                <td>100kw</td>
                                <td>查看</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script>
        var power_list = {{ power_list|safe }};
        console.log(power_list);
    </script>
{% endblock %}