{% extends "terminalUser/base.html" %}
{% block title %}工单列表{% endblock %}
{% block special_css %}
    <style>
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>
{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                工单列表
            </div>
            <div class="clearfix">
                <div class="col-md-12 column" style="text-align: right;margin-top: 10px;">
                    <button name = "addWorkOrder" class="btn btn-info" style="padding: 6px 25px !important;">新建工单</button>
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>工单日期</th>
                                <th>处理进度</th>
                                <th>操作员</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wo in wo_list %}
                                <tr>
                                    <td>{{ wo.num }}</td>
                                    <td>{{ wo.time }}</td>
                                    <td>{{ wo.status }}</td>
                                    <td>System</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="#">Prev</a>
                        </li>
                        <li>
                             <a href="#">1</a>
                        </li>
                        <li>
                             <a href="#">2</a>
                        </li>
                        <li>
                             <a href="#">3</a>
                        </li>
                        <li>
                             <a href="#">4</a>
                        </li>
                        <li>
                             <a href="#">5</a>
                        </li>
                        <li>
                             <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue new-workOrder hide">
                新建工单
            </div>
            <div class="clearfix new-workOrder hide">
                <div class="col-md-12" style="margin-top: 10px;">
                    <form ng-app="validationApp" name="workOrder" ng-controller="mainController" ng-submit="submitForm(workOrder.$valid)">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><td colspan="4">基本信息</td></tr>
                                <tr>
                                    <td>姓名</td>
                                    <td>
                                        <input name="username" ng-model="order.username" required>
                                        <span class="error" ng-show="workOrder.username.$dirty && workOrder.username.$invalid"
                                              style="display: block">请填写用户名</span>
                                    </td>
                                    <td>手机</td>
                                    <td>
                                        <input type="number" name="phone" ng-model="order.phone" required>
                                        <span class="error" ng-show="workOrder.phone.$dirty && workOrder.phone.$invalid" style="display: block">请填写电话</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>邮箱</td>
                                    <td>
                                        <input type="email" name="userEmail" ng-model="order.userEmail" required>
                                        <span ng-show="workOrder.userEmail.$error.email" style="display: block">请输入合法邮箱</span>
                                    </td>
                                    <td>用户地址</td>
                                    <td>
                                        <input name="address" ng-model="order.address" required>
                                        <span class="error" ng-show="workOrder.address.$dirty && workOrder.address.$invalid" style="display: block">请填写地址</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>类型</td>
                                    <td>
                                        <select id="type" name="workOrderType">
                                            <option value="consult">咨询类</option>
                                            <option value="technology">技术服务类</option>
                                        </select>
                                    </td>
                                    <td>分类</td>
                                    <td>
                                        <select id="consult" name="workOrderClassification">
                                            <option>产品咨询</option>
                                            <option>其他咨询</option>
                                        </select>
                                        <select id="technology" style="display: none;"  name="workOrderClassification">
                                            <option>设备问题</option>
                                            <option>其他问题</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr><td colspan="4">问题描述</td></tr>
                                <tr>
                                    <td colspan="4">
                                        <textarea name = "description" rows="10" style="width:100%;"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12 submit-btn-green">
                            <button type="submit" class="btn-success save-btn" name="submitWorkOrder">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
        $("[name=addWorkOrder]").on("click", function(){
            console.log("xxx");
            if($(".new-workOrder").hasClass("hide")){
                $(".new-workOrder").removeClass("hide");
            }else{
                $(".new-workOrder").css("display", "block");
            }
        });
    </script>
    <script>
        $("#type").on("change", function () {
           var value = $(this).val();
            $("#" + value).siblings().css("display", "none");
            $("#" + value).css("display", "inline-block");
        });
        var username = '{{ user.username }}';
        var phone = parseInt('{{ user.phone }}');
        var email = '{{ user.email }}';
        var locationX = "{{ user.location }}";

{#        console.log(username);#}
{#        console.log(phone);#}
{#        console.log(email);#}
{#        console.log(locationX);#}
        var validationApp = angular.module('validationApp', []);
        validationApp.controller('mainController', function($scope) {
            $scope.master = {username:username, phone:phone, userEmail:email, address:locationX};
            $scope.reset = function() {
                $scope.order = angular.copy($scope.master);
            };
            $scope.reset();
            $scope.submitForm = function(isValid) {
                if (isValid) {
                    var username = $scope.order.username;
                    var phone = $scope.order.phone;
                    var userEmail = $scope.order.userEmail;
                    var address = $scope.order.address;
                    console.log(username);
                    console.log(phone);
                    console.log(userEmail);
                    console.log(address);

                    var workOrderType = $("[name=workOrderType]").find("option:selected").text();
                    var workOrderClassification = $("[name=workOrderClassification]").val();
                    var description = $("[name=description]").val();
                    console.log(workOrderType);
                    console.log(workOrderClassification);
                    var formdata = new FormData();
                    formdata.append("workOrderType", workOrderType);
                    formdata.append("workOrderClassification", workOrderClassification);
                    formdata.append("description", description);
                    $.ajax({
                        url:'/terminal/work_order/add/',
                        type:'POST',
                        data:formdata,
                        cache:false,
                        processData : false,
                        contentType : false
                    }).done(function(res){
                        if(res == "success"){
                            alert("提交成功");
                            $("[name=description]").val("");
                            $(".new-workOrder").hide();
                            location.reload();
                        }else{
                            alert("请检查信息是否正确");
                        }
                    }).fail(function (res) {
                        alert("服务器开小差了，提交失败，请稍后再试");
                    });
                }else{
                    alert('请填写要求的内容');
                }
            };
        });
    </script>
{% endblock %}