{% extends "terminalUser/base.html" %}
{% block title %}月账单{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                总用电量
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>用电量</th>
                                <th>费用</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100kw</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue">
                月账单
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>结算日期</th>
                                <th>消费</th>
                                <th>余额</th>
                                <th>电量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2016-07-01</td>
                                <td>100</td>
                                <td>12</td>
                                <td>10000kw</td>
                                <td>查看</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block special_js %}

{% endblock %}