{% extends "terminalUser/base.html" %}
{% block title %}我的设备{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                我的设备
            </div>
            <div class="clearfix">
                <div class="col-md-12 device-info" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="2" align="center"><img src="/site_media/images/web_icon.png"></td>
                                <td>设备编号</td>
                                <td>{{ device.device_id }}</td>
                                <td>设备状态</td>
                                <td>{{ device.status }}</td>
                            </tr>
                            <tr>
                                <td>电压</td>
                                <td>{{ data.voltage }}V</td>
                                <td>电流</td>
                                <td>{{ data.electricity }}A</td>
                                <td>频率</td>
                                <td>1000Hz</td>
                            </tr>
                            <tr>
                                <td>温度</td>
                                <td>{{ data.temperature }}℃</td>
                                <td>瞬时电压</td>
                                <td>{{ data.instantVoltage }}V</td>
                                <td>瞬时电流</td>
                                <td>{{ data.instantElectricity }}A</td>
                            </tr>
                            <tr>
                                <td>总用电量</td>
                                <td>{{ data.total_power }}kwh</td>
                                <td colspan="4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 tab-tip tab-blue">
            设备温度
        </div>
        <div class="clearfix">
            <div class="col-md-12" style="margin-top: 10px;">
                <div id="device-temperature" style="height: 400px; width: 100%"></div>
            </div>
        </div>
        <div class="col-md-12 tab-tip tab-blue">
            设备电压
        </div>
        <div class="clearfix">
            <div class="col-md-12" style="margin-top: 10px;">
                <div id="device-voltage" style="height: 400px; width: 100%"></div>
            </div>
        </div>
        <div class="col-md-12 tab-tip tab-blue">
            设备电流
        </div>
        <div class="clearfix">
            <div class="col-md-12" style="margin-top: 10px;">
                <div id="device-electricity" style="height: 400px; width: 100%"></div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                设备控制
            </div>
            <div class="clearfix">
                <div class="col-md-12 device-info" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>开关</td>
                                <td>ON/OFF</td>
                                <td>阈值</td>
                                <td>50℃</td>
                            </tr>
                            <tr>
                                <td>设定</td>
                                <td colspan="3">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-success">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 save-btn-green">
                <button class="btn-success save-btn">保存</button>
            </div>
        </div>

    </div>
{% endblock %}
{% block special_js %}
    <script>
        $(function () {
            var temperature = {{ temperature | safe }};
            var voltage = {{ voltage | safe }};
            var electricity = {{ electricity | safe }};
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth();
            var day = today.getDate();
            console.log(year);
            console.log(month);
            console.log(day);
            $('#device-temperature').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '当前设备温度曲线'
                },
                subtitle: {
                    text: '数据来源：征圣云平台'
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        text: '温度 (℃)'
                    },
                    min: 0,
                    minorGridLineWidth: 0,
                    gridLineWidth: 0,
                    alternateGridColor: null,
                    plotBands: [{ // Light air
                        from: 0,
                        to: 30,
                        color: 'rgba(68, 170, 213, 0.1)',
                        label: {
                            text: '温度正常',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Light breeze
                        from: 30,
                        to: 60,
                        color: 'rgba(250, 206, 39, 1)',
                        label: {
                            text: '温度警告',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Gentle breeze
                        from: 60,
                        to: 90,
                        color: 'rgba(255, 83, 14, 0.5)',
                        label: {
                            text: '温度过高',
                            style: {
                                color: '#606060'
                            }
                        }
                    }]
                },
                tooltip: {
                    valueSuffix: ' ℃'
                },
                plotOptions: {
                    spline: {
                        lineWidth: 4,
                        states: {
                            hover: {
                                lineWidth: 5
                            }
                        },
                        marker: {
                            enabled: false
                        },
                        pointInterval: 600000, // 10 minutes
                        pointStart: Date.UTC(year, month + 1, day, 0, 0, 0)
                    }
                },
                series: [{
                    name: '温度',
                    data: temperature
                }],
                navigation: {
                    menuItemStyle: {
                        fontSize: '10px'
                    }
                }
            });

            $('#device-voltage').highcharts({
                chart: {
                    type: 'spline'
                },
                colors: ['#0d233a'],
                title: {
                    text: '当前设备电压曲线'
                },
                subtitle: {
                    text: '数据来源：征圣云平台'
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        text: '电压 (V)'
                    },
                    min: 150,
                    minorGridLineWidth: 0,
                    gridLineWidth: 0,
                    alternateGridColor: null,
                    plotBands: [{ // Light air
                        from: 150,
                        to: 200,
                        color: 'rgba(68, 170, 213, 0.1)',
                        label: {
                            text: '电压过低',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Light breeze
                        from: 200,
                        to: 230,
                        color: 'rgba(1, 254, 5, 0.1)',
                        label: {
                            text: '电压正常',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Gentle breeze
                        from: 230,
                        to: 300,
                        color: 'rgba(255, 83, 14, 0.5)',
                        label: {
                            text: '电压过高',
                            style: {
                                color: '#606060'
                            }
                        }
                    }]
                },
                tooltip: {
                    valueSuffix: ' V'
                },
                plotOptions: {
                    spline: {
                        lineWidth: 4,
                        states: {
                            hover: {
                                lineWidth: 5
                            }
                        },
                        marker: {
                            enabled: false
                        },
                        pointInterval: 3600000, // one hour
                        pointStart: Date.UTC(2016, 9, 17, 0, 0, 0)
                    }
                },
                series: [{
                    name: '电压',
                    data: voltage
                }],
                navigation: {
                    menuItemStyle: {
                        fontSize: '10px'
                    }
                }
            });


            $('#device-electricity').highcharts({
                chart: {
                    type: 'spline'
                },
                colors: ['#91e8e1'],
                title: {
                    text: '当前设备电流曲线'
                },
                subtitle: {
                    text: '数据来源：征圣云平台'
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        text: '电流 (A)'
                    },
                    min: 0,
                    minorGridLineWidth: 0,
                    gridLineWidth: 0,
                    alternateGridColor: null,
                    plotBands: [{ // Light air
                        from: 0,
                        to: 3,
                        color: 'rgba(68, 170, 213, 0.1)',
                        label: {
                            text: '电流过低',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Light breeze
                        from: 3,
                        to: 6,
                        color: 'rgba(1, 254, 5, 0.1)',
                        label: {
                            text: '电流正常',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // Gentle breeze
                        from: 6,
                        to: 9,
                        color: 'rgba(255, 83, 14, 0.5)',
                        label: {
                            text: '电流过高',
                            style: {
                                color: '#606060'
                            }
                        }
                    }]
                },
                tooltip: {
                    valueSuffix: ' A'
                },
                plotOptions: {
                    spline: {
                        lineWidth: 4,
                        states: {
                            hover: {
                                lineWidth: 5
                            }
                        },
                        marker: {
                            enabled: false
                        },
                        pointInterval: 3600000, // one hour
                        pointStart: Date.UTC(year, month + 1, day, 0, 0, 0)
                    }
                },
                series: [{
                    name: '电流',
                    data: electricity
                }],
                navigation: {
                    menuItemStyle: {
                        fontSize: '10px'
                    }
                }
            });
        });
    </script>
{% endblock %}