{% extends "terminalUser/base.html" %}
{% block title %}用电信息{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                我的状态
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>状态</th>
                                <th>今日入电量</th>
                                <th>电压</th>
                                <th>电流</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ device.device_status }}</td>
                                <td>{{ data.powerV }}kwh</td>
                                <td>{{ data.voltage }}V</td>
                                <td>{{ data.electricity }}A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue">
                今日数据
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div id="today-data" style="height: 400px; width: 100%"></div>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue">
                本月数据
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div id="month-data" style="height: 400px; width: 100%"></div>
                </div>
            </div>
            <div class="col-md-12 tab-tip tab-blue">
                一年数据
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div id="year-data" style="height: 400px; width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script>
        var dd = {{ today_data | safe }};
        var mm = {{ month_data | safe }};
        var yy = {{ year_data | safe }};
        var today_hour = dd["today_hour"];
        var today_power = dd["today_power"];

        var month_day = mm["month_day"];
        var month_power = mm["month_power"];

        var year_month = yy["year_month"];
        var year_power = yy["year_power"];
        console.log(year_month);
        var year_data_list = new Array();
        var len = year_month.length;
        for(var i = 0; i < len; ++i){
            var year = year_month[i];
            var data = year_power[i];
{#            console.log(year);#}
{#            console.log(data);#}
            var dic = {};
            dic["name"] = year;
            var list_tmp = [];
            list_tmp.push(data);
            dic["data"] = list_tmp;
            year_data_list.push(dic);
        }
        console.log(year_data_list);
        $(function () {
            $('#today-data').highcharts({
                title: {
                    text: '今日数据',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源：征圣云平台',
                    x: -20
                },
                xAxis: {
                    categories: today_hour
                },
                yAxis: {
                    title: {
                        text: '电量 (Kwh)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '度'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '电量',
                    data: today_power
                },
{#                    {#}
{#                    name: 'New York',#}
{#                    data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]#}
{#                }, {#}
{#                    name: 'Berlin',#}
{#                    data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]#}
{#                }, {#}
{#                    name: 'London',#}
{#                    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]#}
{#                }#}
                ]
            });
        });
        $(function () {
        $('#month-data').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '本月数据'
            },
            subtitle: {
                text: '数据来源：征圣云平台'
            },
            xAxis: {
                categories: month_day
            },
            yAxis: {
                min: 0,
                title: {
                    text: '电量(kwh)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Kwh</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '电量',
                data: month_power

            },
{#                {#}
{#                name: 'New York',#}
{#                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]#}
{##}
{#            }, {#}
{#                name: 'London',#}
{#                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]#}
{##}
{#            }, {#}
{#                name: 'Berlin',#}
{#                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]#}
{##}
{#            }#}
            ]
        });
    });
    $(function () {
        $('#year-data').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '一年数据'
            },
            subtitle: {
                text: '数据来源：征圣云平台'
            },
            xAxis: {
                categories: ['电量'],// 'America', 'Asia', 'Europe', 'Oceania'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '电量 (Kwh)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' kwh'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -5,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: year_data_list
        });
    });
    </script>
{% endblock %}