{% extends "terminalUser/base.html" %}
{% block title %}充值记录{% endblock %}
{% block main_body %}
    <div class="terminal-main-body">
        <div class="clearfix">
            <div class="col-md-12 tab-tip tab-blue">
                充值记录
            </div>
            <div class="clearfix">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>充值类型</th>
                                <th>充值金额</th>
                                <th>总余额</th>
                                <th>充值日期</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for f in fund %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>续费</td>
                                <td>{{ f.num }}</td>
                                <td>{{ f.total_num }}</td>
                                <td>{{ f.time }}</td>
                                <td>{{ f.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}

{% endblock %}