<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/framework7.ios.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/my-app.css">
      <style>
          div[class*="col-"] {
              background: #fff;
              text-align: center;
              color: #000;
              border: 1px solid #ddd;
              padding: 5px;
            }
            .row {
              margin-bottom: 15px;
            }
          #view-1 .pages, #view-2 .pages, #view-3 .pages, #view-4 .pages{
              background: white;
          }
          #view-1 .page, #view-2 .page, #view-3 .page, #view-4 .page{
              background: white;
          }
      </style>
  </head>
  <body style="padding-bottom: 30px;height: inherit;">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views, and they are tabs-->
    <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
    <div class="views tabs toolbar-through">
      <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
      <div id="view-1" class="view view-main tab active" style="background: white;overflow: scroll;">
        <!-- Pages-->
          <div class="navbar" style="position: relative;">
            <div class="navbar-inner">
                <div class="center" style="margin: 0 auto;">我的电量数据</div>
            </div>
          </div>
        <div class="content-block" style="margin: 5px 0;padding: 0;">
            <div class="row">
              <div class="col-100 tablet-100" style="">
                  <div id="container" style="min-width:100%;height:400px"></div>
              </div>
            </div>
        </div>
      </div>
      <!-- Second view (for second wrap)-->
      <div id="view-2" class="view tab" style="background: white;overflow: scroll;">
        <!-- We can make with view with navigation, let's add Top Navbar-->
        <div class="navbar" style="position: relative;">
            <div class="navbar-inner">
                <div class="center" style="margin: 0 auto;">我的工单</div>
            </div>
        </div>
        <div class="pages navbar-through">
          <div data-page="index-2" class="page">
              <div class="list-block media-list" style="margin-top: 5px;">
                  <ul>
                      {% for wo in workorder_list %}
                      <li>
                          <a href="javascript:void(0);" onclick="editWorkorder({{ wo.id }})" class="item-link item-content">
                              <div class="item-inner">
                                  <div class="item-title-row">
                                      <div class="item-title">{{ wo.type }}</div>
                                      <div class="item-after">{{ wo.time }}</div>
                                  </div>
                                  <div class="item-subtitle">{{ wo.content }}</div>
                            </div>
                          </a>
                      </li>
                      {% endfor %}
                  </ul>
                  <div class="content-block">
                      <a href="#" data-popup=".popup-about" class="open-popup button" style="padding: 10px; height: 50px;width: 100%;">新建工单</a>
{#                      <button onclick="createOrder();" class="button" style="padding: 10px; height: 50px;width: 100%;">新建工单</button>#}
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div id="view-3" class="view tab" style="background: white; overflow: scroll;">
          <div class="navbar" style="position: relative;">
              <div class="navbar-inner">
                <div class="center" style="margin: 0 auto;">我的设备</div>
              </div>
          </div>
        <div class="row no-gutter" style="margin-top: 5px;">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 tablet-25">设备编号</div>
            <div class="col-50 tablet-25">{{ data.device_id }}</div>
            <div class="col-50 tablet-25">设备状态</div>
            <div class="col-50 tablet-25">正常</div>
            <div class="col-50 tablet-25">温度</div>
            <div class="col-50 tablet-25">{{ data.temp }}摄氏度</div>
            <div class="col-50 tablet-25">电量</div>
            <div class="col-50 tablet-25">{{ data.powerV }}kwh</div>
        </div>
        <div class="row">
          <div class="col-100">
              <div id="device-temperature" style="min-width:100%;height:400px"></div>
          </div>
        </div>
      </div>
      <div id="view-4" class="view tab" style="background: white;overflow: scroll;">
        <div class="pages navbar-fixed">
          <div data-page="index-4" class="page">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="center">个人信息</div>
              </div>
            </div>
            <div class="page-content">
              <div class="list-block" style="margin-top: 5px;">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-name"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">姓名</div>
                        <div class="item-input">
                          <input type="text" placeholder="Your name" value="{{ user.username }}"  readonly="readonly">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-email"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">邮箱</div>
                        <div class="item-input">
                          <input type="email" placeholder="E-mail" value="{{ user.email }}" readonly="readonly">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-tel"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">电话</div>
                        <div class="item-input">
                          <input type="tel" placeholder="Phone" value="{{ user.telephone }}" readonly="readonly">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">安装日期</div>
                        <div class="item-input">
                          <input type="date" placeholder="Birth day" value="{{ user.device_install_time }}" readonly="readonly">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-tel"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">地址</div>
                        <div class="item-input">
                          <input type="text" placeholder="地址" value="{{ user.address }}" readonly="readonly">
                        </div>
                      </div>
                    </div>
                  </li>
                     <li class="accordion-item" style="padding-left: 15px;">
                         <a href="javascript:void(0);" onclick="showPersonalPassword()" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">修改密码</div>
                            </div>
                         </a>
                     </li>
                    <li class="accordion-item" style="padding-left: 15px;">
                         <a href="javascript:void(0);" onclick="showPersonalInfo()" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">修改信息</div>
                            </div>
                         </a>
                     </li>
                </ul>
              </div>
                <div class="content-block">
                    <button onclick="logout();" class="button" style="padding: 10px; height: 50px;width: 100%;">退出</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Tabbar-->
      <div class="toolbar tabbar tabbar-labels" style="position: fixed;z-index: 99999;">
        <div class="toolbar-inner">
            <a href="#view-1" class="tab-link active">
                <i class="icon tabbar-demo-icon-1"></i><span class="tabbar-label">用电信息</span>
            </a>
            <a href="#view-2" class="tab-link">
                <i class="icon tabbar-demo-icon-2"></i><span class="tabbar-label">我的工单</span>
            </a>
            <a href="#view-3" class="tab-link">
                <i class="icon tabbar-demo-icon-3"></i><span class="tabbar-label">我的设备</span>
            </a>
            <a href="#view-4" class="tab-link">
                <i class="icon tabbar-demo-icon-4"></i><span class="tabbar-label">个人信息</span>
            </a>
        </div>
      </div>
    </div>
    <div class="popup popup-about tablet-fullscreen">
        <div class="content-block">
            <form id="createWorkOrder-form" class="list-block store-data">
              <ul>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">类型</div>
                            <div class="item-input">
                                <select name="type">
                                    <option>咨询类</option>
                                    <option>技术服务类</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="username" placeholder="Your name">
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">电话</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="phone" placeholder="Your phone">
                            </div>
                        </div>
                    </div>
                  </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">邮箱</div>
                      <div class="item-input">
                        <!-- Make sure that input have "name attrobute" -->
                        <input type="email" name="email" placeholder="E-mail">
                      </div>
                    </div>
                  </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">地址</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="address" placeholder="Your address">
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">内容</div>
                            <div class="item-input">
                               <textarea name="content"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            </form>
            <div class="content-block">
                <button onclick="createWorkOrder();" class="button" style="padding: 10px; height: 50px;width: 100%;">提交表单</button>
            </div>
            <div class="content-block">
                <a href="#" class="close-popup button" style="padding: 10px; height: 50px;width: 100%;border: 1px solid red;">取消</a>
            </div>
        </div>
    </div>
    <!-- Services Popup -->
    <div class="popup popup-workorder-info">
        <div class="content-block">
            <form id="updateWorkOrder-form" class="list-block store-data">
              <ul>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">类型</div>
                            <div class="item-input">
                                <select name="type" readonly="readonly">
                                    <option>咨询类</option>
                                    <option>技术服务类</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="username" placeholder="Your name" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">电话</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="phone" placeholder="Your phone" readonly="readonly">
                            </div>
                        </div>
                    </div>
                  </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">邮箱</div>
                      <div class="item-input">
                        <!-- Make sure that input have "name attrobute" -->
                        <input type="email" name="email" placeholder="E-mail" readonly="readonly">
                      </div>
                    </div>
                  </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">地址</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="address" placeholder="Your address" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">反馈</div>
                            <div class="item-input">
                               <textarea name="content_feedback" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">内容</div>
                            <div class="item-input">
                               <textarea name="content"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            </form>
            <div name = "editWOBTN" class="content-block">
                <div class="row">
                    <div class="col-50 tablet-50" style="border: none;">
                        <button name="updateWO" onclick="updateWorkOrder(this.id);" class="button" style="padding: 10px; height: 50px;width: 100%;">继续提交</button>
                    </div>
                    <div class="col-50 tablet-50" style="border: none;">
                        <button name="closeWO" onclick="closeWorkOrder(this.id);" class="button" style="padding: 10px; height: 50px;width: 100%;border: 1px solid yellow;">关闭工单</button>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <a href="#" class="close-popup button" style="padding: 10px; height: 50px;width: 100%;border: 1px solid red;">取消</a>
            </div>
        </div>
    </div>
{#    修改个人信息的弹出页#}
    <div class="popup popup-update-personal-info tablet-fullscreen">
        <div class="content-block">
            <form id="update-personal-info-form" class="list-block store-data">
              <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="username" placeholder="Your name" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">电话</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="phone" placeholder="Your phone">
                            </div>
                        </div>
                    </div>
                  </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">邮箱</div>
                      <div class="item-input">
                        <!-- Make sure that input have "name attrobute" -->
                        <input type="email" name="email" placeholder="E-mail">
                      </div>
                    </div>
                  </div>
                </li>
                  <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">地址</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="text" name="address" placeholder="Your address">
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            </form>
            <div class="content-block">
                <button onclick="updatePersonalInfo();" class="button" style="padding: 10px; height: 50px;width: 100%;">提交更新</button>
            </div>
            <div class="content-block">
                <a href="#" class="close-popup button" style="padding: 10px; height: 50px;width: 100%;border: 1px solid red;">取消</a>
            </div>
        </div>
    </div>
{#    修改密码#}
    <div class="popup popup-update-personal-password tablet-fullscreen">
        <div class="content-block">
            <form id="update-personal-password-form" class="list-block store-data">
              <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">新的密码</div>
                            <div class="item-input">
                                <!-- Make sure that input have "name attrobute" -->
                                <input type="password" name="first-password">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">确认密码</div>
                            <div class="item-input">
                                <input type="password" name="second-password">
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            </form>
            <div class="content-block">
                <button onclick="updatePersonalPassword();" class="button" style="padding: 10px; height: 50px;width: 100%;">确认修改</button>
            </div>
            <div class="content-block">
                <a href="#" class="close-popup button" style="padding: 10px; height: 50px;width: 100%;border: 1px solid red;">取消</a>
            </div>
        </div>
    </div>


    <!-- Path to Framework7 Library JS-->
    <script type = "text/javascript" src = "/site_media/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type = "text/javascript" src = "/site_media/js/my-app.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script>
        var today_data = {{ today_data | safe}};
        var x_axis = [];
        console.log(typeof x_axis);
        var y_axis = [];
        for(x in today_data){
            x_axis.push(x+"时");
            y_axis.push(today_data[x]);
        }
        console.log(today_data);
        var chart = new Highcharts.Chart('container', {
            chart: {
                type: 'spline'
            },
            title: {
                text: '今日电量(kwh)',
                x: -20
            },
            subtitle: {
                text: '数据来源: 征圣云平台',
                x: -20
            },
            xAxis: {
                categories: x_axis
            },
            yAxis: {
                title: {
                    align: 'high',
                    offset: -90,
                    text: '',
                    rotation: 0,
                    y: -10,
                    x:0

                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'kwh'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            credits: {
                enabled: false //不显示LOGO
            },
            exporting: {
                enabled:false
            },
            series: [{
                name: '电量',
                data: y_axis
            },]
        });

    </script>
    <script>
        var today_temperature_data = {{ today_temperature_data | safe}};
        var x_axis = [];
        console.log(typeof x_axis);
        var y_axis = [];
        for(x in today_temperature_data){
            x_axis.push(x+"时");
            y_axis.push(today_temperature_data[x]);
        }
        console.log(today_data);
        var chart = new Highcharts.Chart('device-temperature', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '当前设备温度曲线(℃)'
                },
                subtitle: {
                    text: '数据来源：征圣云平台'
                },
                xAxis: {
                    categories: x_axis,
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        align: 'high',
                        offset: -90,
                        text: '',
                        rotation: 0,
                        y: -10,
                        x:0
                    }
                },
                tooltip: {
                    valueSuffix: ' ℃'
                },
{#                plotOptions: {#}
{#                    spline: {#}
{#                        lineWidth: 4,#}
{#                        states: {#}
{#                            hover: {#}
{#                                lineWidth: 5#}
{#                            }#}
{#                        },#}
{#                        marker: {#}
{#                            enabled: false#}
{#                        },#}
{#                        pointInterval: 600000, // 10 minutes#}
{#                        pointStart: Date.UTC(year, month + 1, day, 0, 0, 0)#}
{#                    }#}
{#                },#}
                credits: {
                    enabled: false //不显示LOGO
                },
                exporting: {
                    enabled:false
                },
                series: [{
                    name: '温度',
                    data: y_axis
                }],
                navigation: {
                    menuItemStyle: {
                        fontSize: '10px'
                    }
                }
            });
    </script>
  <script>
      function logout(){
          window.location.href='/app/user/logout/';
      }
      function createWorkOrder(){
          var type = $("#createWorkOrder-form").find("[name=type]").val();
          var username = $("#createWorkOrder-form").find("[name=username]").val();
          var phone = $("#createWorkOrder-form").find("[name=phone]").val();
          var email = $("#createWorkOrder-form").find("[name=email]").val();
          var address = $("#createWorkOrder-form").find("[name=address]").val();
          var content = $("#createWorkOrder-form").find("[name=content]").val();
          console.log(type);
          console.log(username);
          console.log(phone);
          console.log(email);
          console.log(address);
          console.log(content);
          if($.trim(username) == ""){
              myApp.alert('请填写姓名', '提交失败');
              return;
          }
          if($.trim(phone) == ""){
              myApp.alert('请填写电话', '提交失败');
              return;
          }
          if($.trim(content) == ""){
              myApp.alert('请填写内容', '提交失败');
              return;
          }
          $.ajax({
            url:'/app/workorder/add/',
            type:'POST',
            data:{type:type, username:username, phone:phone,email:email,address:address, content:content },
            success:function(res){
                if(res == "success"){
                    window.location.href='/app/index/';
                }else{
                    myApp.alert('请检查内容', '提交失败');
                }
            },
            error:function(res){
                myApp.alert('请稍后再试', '网络错误');
            }
        });
      }
      function editWorkorder(id){
          var type = $("#updateWorkOrder-form").find("[name=type]");
          var username = $("#updateWorkOrder-form").find("[name=username]");
          var phone = $("#updateWorkOrder-form").find("[name=phone]");
          var email = $("#updateWorkOrder-form").find("[name=email]");
          var address = $("#updateWorkOrder-form").find("[name=address]");
          var content = $("#updateWorkOrder-form").find("[name=content]");
          var content_feedback = $("#updateWorkOrder-form").find("[name=content_feedback]");
          $.ajax({
              url:'/app/workorder/' + id + '/',
              type: 'GET',
              success:function(res){
                  if(res != "error"){
                      res = JSON.parse(res);
                      console.log(res);
                      type.val(res.type);
                      username.val(res.username);
                      phone.val(res.phone);
                      email.val(res.email);
                      address.val(res.address);
                      content_feedback.val(res.content);
                      if(res.status_tag==1){
                          $("[name=editWOBTN]").css("display", "none");
                          content.parent().parent().parent().css("display", "none");
                      }else{
                          $("[name=editWOBTN]").css("display", "block");
                          $("[name=updateWO]").attr("id", id);
                          $("[name=closeWO]").attr("id", id);
                      }
                      var myApp = new Framework7();
                      var $$ = Dom7;
                      myApp.popup('.popup-workorder-info');
                  }else{
                      myApp.alert('请稍后再试', '获取信息失败');
                      return;
                  }
              },
              error:function(res){
                  myApp.alert('请稍后再试', '网络错误');
                  return;
              }
          });

      }
      function updateWorkOrder(id){
          var content = $("#updateWorkOrder-form").find("[name=content]").val();
          if($.trim(content) == ""){
              myApp.alert('请填写内容', '提交失败');
              return;
          }
          $.ajax({
            url:'/app/workorder/' + id + '/',
            type:'POST',
            data:{operation:1,content:content },
            success:function(res){
                if(res == "success"){
                    window.location.href='/app/index/';
                }else{
                    myApp.alert('请检查内容', '提交失败');
                }
            },
            error:function(res){
                myApp.alert('请稍后再试', '网络错误');
            }
        });
      }
      function closeWorkOrder(id){
          $.ajax({
            url:'/app/workorder/' + id + '/',
            type:'POST',
            data:{operation:-1},
            success:function(res){
                if(res == "success"){
                    window.location.href='/app/index/';
                }else{
                    myApp.alert('请稍后再试', '更新失败');
                }
            },
            error:function(res){
                myApp.alert('请稍后再试', '网络错误');
            }
        });
      }
{#    显示更改密码的弹出页面#}
      function showPersonalPassword(){
          console.log("Yes");
          var myApp = new Framework7();
          myApp.popup('.popup-update-personal-password');
      }
{#      修改密码#}
      function updatePersonalPassword(){
          var f_pwd = $("#update-personal-password-form").find("[name=first-password]").val();
          var s_pwd = $("#update-personal-password-form").find("[name=second-password]").val();
          f_pwd = $.trim(f_pwd);
          s_pwd = $.trim(s_pwd);
          if(f_pwd == "" || f_pwd != s_pwd){
              myApp.alert('请输入正确一致的密码', '提交失败');
              return;
          }
          $.ajax({
            url:'/app/user/updateInfo/',
            type:'POST',
            data:{operation:1, password:f_pwd},
            success:function(res){
                if(res == "success"){
                    window.location.href='/app/index/';
                }else{
                    myApp.alert('请稍后再试', '更新失败');
                }
            },
            error:function(res){
                myApp.alert('请稍后再试', '网络错误');
            }
        });
      }
{#      显示个人信息在弹出页#}
      function showPersonalInfo(){
          var username = $("#update-personal-info-form").find("[name=username]");
          var phone = $("#update-personal-info-form").find("[name=phone]");
          var email = $("#update-personal-info-form").find("[name=email]");
          var address = $("#update-personal-info-form").find("[name=address]");
          $.ajax({
                url:'/app/user/updateInfo/',
                type:'GET',
                success:function(res){
                    if(res != "error"){
                        res = JSON.parse(res);
                        username.val(res.username);
                        phone.val(res.phone);
                        email.val(res.email);
                        address.val(res.address);
                        var myApp = new Framework7();
                        myApp.popup('.popup-update-personal-info');
                    }else{
                        myApp.alert('请稍后再试', '获取信息失败失败');
                    }
                },
                error:function(res){
                    myApp.alert('请稍后再试', '网络错误');
                }
          });
      }
{#      修改个人信息#}
      function updatePersonalInfo(){
          var phone = $("#update-personal-info-form").find("[name=phone]").val();
          var email = $("#update-personal-info-form").find("[name=email]").val();
          var address = $("#update-personal-info-form").find("[name=address]").val();
          $.ajax({
                url:'/app/user/updateInfo/',
                type:'POST',
                data:{operation:0, phone:phone,email:email,address:address},
                success:function(res){
                    if(res == "success"){
                        window.location.href='/app/index/';
                    }else{
                        myApp.alert('请稍后再试', '更新失败');
                    }
                },
                error:function(res){
                    myApp.alert('请稍后再试', '网络错误');
                }
            });
      }
  </script>
  </body>
</html>