{% extends "phone/base.html" %}
{% load static from staticfiles %}
    {% block title %}历史数据{% endblock %}
{% block special_css %}
    <style>
        .queryForm div{
            padding: 0;
            margin-bottom: 5px;
            border-left: 1px solid black;
            color:black !important;
        }
        .queryForm div:hover{
            color:black !important;
        }
    </style>
{% endblock %}
{% block body_content %}
    <div class="clearfix queryForm">
        <div class="col-md-5 col-sm-6 col-xs-6">
            <input type="date" class="btn btn-block" id="startFilterTime">
        </div>
        <div class="col-md-5 col-sm-6 col-xs-6">
            <input type="date" class="btn btn-block" id="endFilterTime">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <button class="btn btn-success btn-block" id="queryTime">查询</button>
        </div>
    </div>
    <div id="todayData">
        <div id="realData">
            <div style="background: rgba(30, 144, 255, 0.8); border-radius: 5px;margin-bottom: 5px;position: relative;">
                历史电量
            </div>
            <div id="container" style="width:100%;height:400px"></div>
        </div>
        <div id="realTemperature">
            <div style="background: rgba(30, 144, 255, 0.8); border-radius: 5px;margin: 5px 0px;">
                历史其他数据
                <select style="float: right;background-color: #00c6ff;height: 100%;display: inline-block;" id="otherDataChoice">
                    <option value="Voltage">电压</option>
                    <option value="Electricity">电流</option>
                    <option value="Temperature">温度</option>
                </select>
            </div>
            <div>
                <div id="containerVoltage" style="width:100%;height:400px"></div>
                <div id="containerElectricity" style="width:100%;height:400px;display: none;"></div>
                <div id="containerTemperature" style="width:100%;height:400px;display: none;"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block special_js %}
    <script>
        $("#otherDataChoice").on("change", function(){
            var val = $("#otherDataChoice").val();
            var containerId = "container" + val;
            $("#" + containerId).siblings().css("display", "none");
            $("#" + containerId).css("display", "block");
        });
        $("#queryTime").on("click", function(){
            var startFilterTime = $("#startFilterTime").val();
            var endFilterTime = $("#endFilterTime").val();
            if($.trim(startFilterTime) == ""){
                $("#startFilterTime").focus();
                return false;
            }
            if($.trim(endFilterTime) == ""){
                $("#endFilterTime").focus();
                return false;
            }
            var queryStr = "start_filter_time=" + startFilterTime + "&end_filter_time=" + endFilterTime;
            window.location.href = "/phone/historical/?" + queryStr;
        });
        try{
            var address = window.location.href;
            var querys = address.split('?')[1];
            var start_filter_time = querys.split('&')[0].split('=')[1];
            var end_filter_time = querys.split('&')[1].split('=')[1];
            console.log(start_filter_time);
            console.log(end_filter_time);
            $("#startFilterTime").val(start_filter_time);
            $("#endFilterTime").val(end_filter_time);
        }catch (e){

        }
    </script>
    <script>
    var ret_data_dic = {{ ret_data_dic|safe }};
    var deviceId = ret_data_dic.device.device_id;
    console.log(ret_data_dic);
    var datasPower = new Array();
    var datasVoltage = new Array();
    var datasElectricity = new Array();
    var datasTemperature = new Array();
    var len = ret_data_dic.ret_time.length;
    for(var i = 0; i < len; ++i){
        var tmpPower = new Array();
        tmpPower.push(ret_data_dic.ret_time[i] + 8*60*60*1000); //得到的时间比标准时间少8个小时，所以加上
        tmpPower.push(ret_data_dic.ret_power[i]);
        datasPower.push(tmpPower);
        var tmpVoltage = new Array();
        tmpVoltage.push(ret_data_dic.ret_time[i] + 8*60*60*1000); //得到的时间比标准时间少8个小时，所以加上
        tmpVoltage.push(ret_data_dic.ret_voltage[i]);
        datasVoltage.push(tmpVoltage);
        var tmpElectricity = new Array();
        tmpElectricity.push(ret_data_dic.ret_time[i] + 8*60*60*1000); //得到的时间比标准时间少8个小时，所以加上
        tmpElectricity.push(ret_data_dic.ret_electricity[i]);
        datasElectricity.push(tmpElectricity);
        var tmpTemperature = new Array();
        tmpTemperature.push(ret_data_dic.ret_time[i] + 8*60*60*1000); //得到的时间比标准时间少8个小时，所以加上
        tmpTemperature.push(ret_data_dic.ret_temperature[i]);
        datasTemperature.push(tmpTemperature);
    }
    var chart = new Highcharts.Chart('container', {
        title: {
            text: deviceId + "号终端电能数据",
            x: -20
        },
        subtitle: {
            text: '数据来源:' + deviceId + "终端",
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S',
                second: '%H:%M:%S',
                minute: '%d %H:%M',
                hour: '%m-%d %H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y',
            },
            {# categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']#}
        },
        yAxis: {
            title: {
                text: '电量 (KWh)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'kwh',
            dateTimeLabelFormats: {
                millisecond: '%Y-%m-%d %H:%M:%S',
                second: '%Y-%m-%d %H:%M:%S',
                minute: '%Y-%m-%d %H:%M:%S',
                hour: '%Y-%m-%d %H:%M:%S',
                day: '%Y-%m-%d %H:%M:%S',
                week: '%Y-%m-%d %H:%M:%S',
                month: '%Y-%m-%d %H:%M:%S',
                year: '%Y-%m-%d %H:%M:%S',
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [{
            name: deviceId,
            data: datasPower
        }]
    });
    var chartVoltage = new Highcharts.Chart('containerVoltage', {
        title: {
            text: deviceId + "号终端电压数据",
            x: -20
        },
        subtitle: {
            text: '数据来源:' + deviceId + "终端",
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S',
                second: '%H:%M:%S',
                minute: '%d %H:%M',
                hour: '%m-%d %H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y',
            },
            {# categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']#}
        },
        yAxis: {
            title: {
                text: '电压 (V)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'V',
            dateTimeLabelFormats: {
                millisecond: '%Y-%m-%d %H:%M:%S',
                second: '%Y-%m-%d %H:%M:%S',
                minute: '%Y-%m-%d %H:%M:%S',
                hour: '%Y-%m-%d %H:%M:%S',
                day: '%Y-%m-%d %H:%M:%S',
                week: '%Y-%m-%d %H:%M:%S',
                month: '%Y-%m-%d %H:%M:%S',
                year: '%Y-%m-%d %H:%M:%S',
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [{
            name: deviceId,
            data: datasVoltage
        }]
    });
    var chartElectricity = new Highcharts.Chart('containerElectricity', {
        title: {
            text: deviceId + "号终端电流数据",
            x: -20
        },
        subtitle: {
            text: '数据来源:' + deviceId + "终端",
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S',
                second: '%H:%M:%S',
                minute: '%d %H:%M',
                hour: '%m-%d %H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y',
            },
            {# categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']#}
        },
        yAxis: {
            title: {
                text: '电流 (A)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'A',
            dateTimeLabelFormats: {
                millisecond: '%Y-%m-%d %H:%M:%S',
                second: '%Y-%m-%d %H:%M:%S',
                minute: '%Y-%m-%d %H:%M:%S',
                hour: '%Y-%m-%d %H:%M:%S',
                day: '%Y-%m-%d %H:%M:%S',
                week: '%Y-%m-%d %H:%M:%S',
                month: '%Y-%m-%d %H:%M:%S',
                year: '%Y-%m-%d %H:%M:%S',
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [{
            name: deviceId,
            data: datasElectricity
        }]
    });
    var chartTemperature = new Highcharts.Chart('containerTemperature', {
        title: {
            text: deviceId + "号终端温度数据",
            x: -20
        },
        subtitle: {
            text: '数据来源:' + deviceId + "终端",
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S',
                second: '%H:%M:%S',
                minute: '%d %H:%M',
                hour: '%m-%d %H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y',
            },
            {# categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']#}
        },
        yAxis: {
            title: {
                text: '温度 (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C',
            dateTimeLabelFormats: {
                millisecond: '%Y-%m-%d %H:%M:%S',
                second: '%Y-%m-%d %H:%M:%S',
                minute: '%Y-%m-%d %H:%M:%S',
                hour: '%Y-%m-%d %H:%M:%S',
                day: '%Y-%m-%d %H:%M:%S',
                week: '%Y-%m-%d %H:%M:%S',
                month: '%Y-%m-%d %H:%M:%S',
                year: '%Y-%m-%d %H:%M:%S',
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [{
            name: deviceId,
            data: datasTemperature
        }]
    });
    </script>
{% endblock %}