{% extends "phone/base.html" %}
{% load static from staticfiles %}
    {% block title %}用电明细{% endblock %}
{% block special_css %}
    <style>
        .table tr{
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block body_content %}

    <div id="informationData">
        <div id="details">
            <div style="background: rgba(30, 144, 255, 0.8); border-radius: 5px;margin-bottom: 10px;position: relative;">
                用电明细
            </div>
        </div>
        <div id="historicalOtherData">
            <div class="clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    时间
                                </th>
                                <th>
                                    用电量
                                </th>
                                <th>
                                    总电量
                                </th>
                                <th>
                                    温度
                                </th>
                                <th>
                                    正常
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                        <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                        <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                        <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2017-05-22 00:00
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    12.3
                                </td>
                                <td>
                                    正常
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block special_js %}
    <script>

    </script>
{% endblock %}