{% extends "app/base.html" %}
{% block title %}Account_admin{% endblock %}
{% block main_body %}
    <div class="main-body">
        <div style="margin: 10px 0;position: relative;background-color: rgba(40, 42, 55,0.75);padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">Home</a>
				</li>
				<li>
					 <a href="#">user</a>
				</li>
				<li class="active">
					Account
				</li>
			</ul>
        </div>
    </div>
{% endblock %}
{% block special_js %}

{% endblock %}