{% extends "app/base.html" %}
{% block title %}设备管理{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					漏电检测
				</li>
			</ul>
        </div>

        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
            <div class="col-md-12 column" style="">
                <table class="table leakage-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                设备编号
                            </th>
                            <th>
                                设备名称
                            </th>
                            <th>
                                设备类型
                            </th>
                            <th>
                                设备地址
                            </th>
                            <th>
                                设备状态
                            </th>
                            <th>
                                设备所有者
                            </th>
                            <th>
                                安装时间
                            </th>
                            <th>
                                检测人员
                            </th>
                            <th>
                                检测进度
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>IMG98电箱</td>
                            <td>电箱</td>
                            <td>阳光路12号3301</td>
                            <td style="color:red;">漏电</td>
                            <td>李三</td>
                            <td>2016-07-14 14:06:59</td>
                            <td>张三</td>
                            <td><span class="start">已经接单</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>IMG98电箱</td>
                            <td>电箱</td>
                            <td>阳光路12号3301</td>
                            <td style="color:red;">漏电</td>
                            <td>李三</td>
                            <td>2016-07-14 14:06:59</td>
                            <td>张三</td>
                            <td><span class="processing">上门检修</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>IMG98电箱</td>
                            <td>电箱</td>
                            <td>阳光路12号3301</td>
                            <td style="color:green;">正常</td>
                            <td>李三</td>
                            <td>2016-07-14 14:06:59</td>
                            <td>张三</td>
                            <td><span class="finish">检修完毕</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="#">Prev</a>
                        </li>
                        <li>
                             <a href="#">1</a>
                        </li>
                        <li>
                             <a href="#">2</a>
                        </li>
                        <li>
                             <a href="#">3</a>
                        </li>
                        <li>
                             <a href="#">4</a>
                        </li>
                        <li>
                             <a href="#">5</a>
                        </li>
                        <li>
                             <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block special_js %}
    <script>
        $("#collapseOne").removeClass("in");
        $("#collapseTwo").addClass("in");
    </script>
{% endblock %}