{% extends "app/base.html" %}
{% block title %}地区管理{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">首页</a>
				</li>
				<li>
					 <a href="#">地区</a>
				</li>
				<li class="active">
					地区列表
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;">
            <div name = "level1" class="clearfix" style="border-bottom: dotted 1px white; margin-bottom: 10px; padding-bottom: 10px;">
                <div class="col-md-1">
                    <b>地区</b>
                </div>
                <div class="col-md-11">
                    {% for city in city_list %}
                        <div class="col-md-2 mb10">
                            <div id="{{ city.city_code }}" class="alert alert-blankRed alert-dismissable area-list-item" style="" onclick="changeCity(this.id);">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ city.city_name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div name = "level2" class="clearfix" style="border-bottom: dotted 1px white; margin-bottom: 10px; padding-bottom: 10px;">
                <div class="col-md-1 filter-type">
                    <b>小区</b>
                </div>
                <div class="col-md-11 filter-value">
                    {% for village in village_list %}
                    <div class="col-md-2 mb10">
                        <div class="alert alert-blankRed alert-dismissable area-list-item" style="">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ village.village_name }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <div class="clearfix">
                <div class="col-md-3 horizontal-text-center">
                    <select class="btn btn-info" style="width: 80%;" name="areaType">
                        <option value ="1">编辑地级市列表</option>
                        <option value ="2">编辑街道列表</option>
                        <option value="3">编辑小区列表</option>
                    </select>
                </div>
                <div class="col-md-3 horizontal-text-center">
                    <button class="btn btn-success" style="width: 80%;">添加</button>
                </div>
                <div class="col-md-3 horizontal-text-center">
                    <button class="btn btn-danger" style="width: 80%;" name = "deleteArea">删除</button>
                </div>
                <div class="col-md-3 horizontal-text-center">
                    <button class="btn btn-warning" style="width: 80%;" name="saveArea">保存</button>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="clearfix" style="margin-bottom: 10px;">
                    <div class="col-md-2"><span style="height: 100%;line-height: 100%;">添加地级市</span></div>
                    <div class="col-md-10"><input type="text" class="form-control"></div>
                </div>
                <div class="clearfix" style="margin-bottom: 10px;">
                    <div class="col-md-2"><span style="height: 100%;line-height: 100%;">添加街道</span></div>
                    <div class="col-md-2">
                        <select class="btn" style="width: 80%;">
                            <option value ="1">选择上一级地级市</option>
                            <option value ="2">池州市</option>
                            <option value="3">池州市1</option>
                        </select>
                    </div>
                    <div class="col-md-8"><input type="text" class="form-control"></div>
                </div>
                <div class="clearfix" style="margin-bottom: 10px;">
                    <div class="col-md-2"><span style="height: 100%;line-height: 100%;">添加小区</span></div>
                    <div class="col-md-2">
                        <select class="btn" style="width: 80%;">
                            <option value ="1">选择上一级街道</option>
                            <option value ="2">街道1</option>
                            <option value="3">街道2</option>
                        </select>
                    </div>
                    <div class="col-md-8"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-4">
                    <div class="btn-danger btn-primary" style="width: 50%;text-align: center;margin: 0 auto;padding: 5px; border-radius: 4px;">选择文件：</div>
                </div>
                <div class="col-md-4 horizontal-text-center">
                    <button class="btn btn-block" onclick="uploadAreaFile.click();" style="width: 50%;">
                        <input id = "uploadAreaFile" type="file" style="display: none;"><span>选择上传的文件</span>
                    </button>
                </div>
                <div class="col-md-4 horizontal-text-center">
                    <button class="btn btn-success btn-block" style="width: 50%;">上传</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script>
        $("[name=deleteArea]").on("click", deleteAreaFunc);
        $("[name=saveArea]").on("click", saveAreaFunc);
        $(".close").on("click", deleteAreaItemFunc);
        function deleteAreaFunc(){
            var areaTypeVal = $("[name=areaType]").val();
            console.log(areaTypeVal);
            var areaListName = "level" + areaTypeVal;
            $("[name=" + areaListName + "] .close").css("display", "block");
        }
        function saveAreaFunc(){
            $(".close").css("display", "none");
        }
        function deleteAreaItemFunc(){
            $(this).parent().parent().css("display", "none");
        }
    </script>
    <script>
        var city_code = "{{ city_code }}";
        $("#" + city_code).removeClass("alert-blankRed").addClass("alert-success");
    </script>
    <script>
        function changeCity(id){
            $("#"+id).parent().siblings().children().removeClass("alert-success").addClass("alert-blankRed");
            $("#" + id).removeClass("alert-blankRed").addClass("alert-success");
        }
    </script>
{% endblock %}