{% extends "app/base.html" %}
{% block title %}设备添加{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					用户登记
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;min-height: 500px;">
            <hr>
            <div class="device-add-head col-md-12">
                <div class="col-md-2">
                    设备地址
                </div>
                <div class="col-md-10">
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <select class="btn btn-default" style="width:100%; height: 30px;" name="city_select">
                                {% for city in city_list %}
                                <option value="{{ city.city_code }}">{{ city.city_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <select class="btn btn-default" style="width:100%; height: 30px;" name="village_select">
                                {% for village in village_list %}
                                    <option value="{{ village.village_code }}">{{ village.village_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="楼栋号">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="单元">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="房间号">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block">确定</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0;">
                <hr>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <form class="" role="form" onsubmit="return false;">
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备编号
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id="" placeholder="IMGXXXXXX"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备名称
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id=""  placeholder="设备名称"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            安装时间
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id=""  placeholder="2016-xx-xx"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备用户
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id=""  placeholder="张三"/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-md-2" style="height: 30px; line-height: 30px;">
                            设备地址
                        </div>
                        <div class="form-group col-md-10" style="height: 30px; ">
                            <input type="text" class="form-control" id="" placeholder="XXX市XXX街道XXX小区XXX号楼XXX层XXX号"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            用户手机
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id="" placeholder="IMGXXXXXX"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            用户邮箱
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id=""  placeholder="设备名称"/>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-offset-10 col-md-2">
                            <button class="btn btn-block btn-success">提交</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>

    </div>
{% endblock %}
{% block special_js %}
    <script>
        $("[name=city_select]").on("change", function(){
            var city_code = $(this).val();
            $.ajax({
                url: '/admin_device/add/',
                type: 'POST',
                data: {city_code:city_code},
                success: function(data){
                    console.log(data);
                    if(data != "error"){
                        var innerHtml = "";
                        for(var i in data){
                            village = data[i];
                            innerHtml += '<option value=' + village.village_code + '>' + village.village_name + '</option>';
                        }
                        console.log(innerHtml);
                        $("[name=village_select]").html(innerHtml);
                    }
                },
                error: function(data){

                }
            })
        })
    </script>
{% endblock %}