{% extends "app/base.html" %}
{% block title %}设备添加{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					用户登记
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;min-height: 500px;">
            <hr>
            <div class="device-add-head col-md-12">
                <div class="col-md-2">
                    设备地址
                </div>
                <div class="col-md-10">
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <select class="btn btn-default" style="width:100%; height: 30px;" name="city_select">
                                {% for city in city_list %}
                                <option value="{{ city.city_code }}">{{ city.city_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <select class="btn btn-default" style="width:100%; height: 30px;" name="village_select">
                                {% for village in village_list %}
                                    <option value="{{ village.village_code }}">{{ village.village_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="楼栋号" name="building_code">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="单元" name="unit_code">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-block">
                            <input class="form-control" placeholder="房间号" name="room_code">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" name="getDevice">确定</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0;">
                <hr>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <form class="red-form" role="form" onsubmit="return false;">
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备编号
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id="device_id" placeholder="设备ID" style="color: red !important;" readonly/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备名称
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id="device_name"  placeholder="设备名称" value="终端" readonly/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            生产时间
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="date" class="form-control" id="device_time"  placeholder="2016-xx-xx"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            设备用户
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="text" class="form-control" id="user_username"  placeholder="张三"/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-md-2" style="height: 30px; line-height: 30px;">
                            用户地址
                        </div>
                        <div class="form-group col-md-10" style="height: 30px; ">
                            <input type="text" class="form-control" id="user_address" placeholder="XXX市XXX街道XXX小区XXX号楼XXX层XXX号"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            用户手机
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="number" class="form-control" id="user_telephone" placeholder=""/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-4" style="height: 30px; line-height: 30px;">
                            用户邮箱
                        </div>
                        <div class="form-group col-md-8" style="height: 30px; ">
                            <input type="email" class="form-control" id="user_email"  placeholder="用户邮箱"/>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-offset-10 col-md-2">
                            <button class="btn btn-block btn-success" name="userRegister">提交</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>

    </div>
{% endblock %}
{% block special_js %}
    <script>
        $("#deviceChild").addClass("in");
        $("#collapseTwo").removeClass("in");
    </script>
    <script>
        $("[name=city_select]").on("change", function(){
            var city_code = $(this).val();
            $.ajax({
                url: '/admin_device/add/',
                type: 'POST',
                data: {city_code:city_code},
                success: function(data){
                    console.log(data);
                    if(data != "error"){
                        var innerHtml = "";
                        for(var i in data){
                            village = data[i];
                            innerHtml += '<option value=' + village.village_code + '>' + village.village_name + '</option>';
                        }
                        console.log(innerHtml);
                        $("[name=village_select]").html(innerHtml);
                    }
                },
                error: function(data){

                }
            })
        });
        $("[name=getDevice]").on("click", function(){
            var city_code = $("[name=city_select]").val();
            var village_code = $("[name=village_select]").val();
            var building_code = $("[name=building_code]").val();
            var unit_code = $("[name=unit_code]").val();
            var room_code = $("[name=room_code]").val();
            $.ajax({
                url: '/admin_device/add/',
                type : 'POST',
                data : {city_code:city_code, village_code:village_code, building_code:building_code, unit_code:unit_code, room_code:room_code,get_device_flag:1},
                success : function(data){
                    console.log(data);
                    if(data != 'error'){
                        $("#device_id").val(data);
                    }else{
                        alert("设备不存在或未安装");
                    }
                },
                error: function(data){
                    alert("设备不存在");
                }
            })
        });
        $("[name=userRegister]").on("click", function(){
            var device_id = $("#device_id").val();
            var device_time = $("#device_time").val();
            var username = $("#user_username").val();
            var telephone = $("#user_telephone").val();
            var address = $("#user_address").val();
            var email = $("#user_email").val();
            console.log(device_id);
            console.log(device_time);
            console.log(username);
            console.log(telephone);
            console.log(address);
            console.log(email);
            if(device_id == "" || username == ""){
                alert("请填写完整信息");
                return;
            }
            $.ajax({
                url:'/admin_device/add/',
                type: 'POST',
                data: {device_id:device_id, username:username, telephone:telephone, email:email, address: address, add_user_flag:1},
                success : function(data){
                    if(data != "error"){
                        alert("注册成功");
                        window.location.href = "/admin_device/";
                    }else{
                        alert("注册失败，请重新注册");
                    }
                },
                error: function(data){
                    alert("服务器错误，请联系管理员");
                }
            })
        });
    </script>
{% endblock %}