{% extends "app/base.html" %}
{% block title %}设备管理{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					健康监测
				</li>
			</ul>
        </div>

        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
{#            <div class="form-group">#}
{#                <form class="form-horizontal" role="form" onsubmit="return false;">#}
{#                    <div class="col-md-3">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-4 control-label">设备编号</label>#}
{#                            <div class="col-sm-8">#}
{#                                <input type="text" class="form-control" id="" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-3 control-label">安装时间</label>#}
{#                            <div class="col-sm-4">#}
{#                                <input type="date" class="form-control" id="" />#}
{#                            </div>#}
{#                            <label for="" class="col-sm-1 control-label">至</label>#}
{#                            <div class="col-sm-4">#}
{#                                <input type="date" class="form-control" id="" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-5">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-2 control-label">关键字</label>#}
{#                            <div class="col-sm-6">#}
{#                                <input type="text" class="form-control" id="" />#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <button class="btn btn-block btn-success">查找</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                设备编号
                            </th>
                            <th>
                                设备地址
                            </th>
                            <th>
                                温度
                            </th>
                            <th>
                                电压
                            </th>
                            <th>
                                电流
                            </th>
{#                            <th>#}
{#                                温度报警#}
{#                            </th>#}
{#                            <th>#}
{#                                报警时间#}
{#                            </th>#}

{#                            <th>#}
{#                                操作#}
{#                            </th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for device in device_list %}
                        <tr>
                            <td>{{ device.device_id.device_id }}</td>
                            <td>{{ device.address }}</td>
                            <td>{{ device.temp }}</td>
                            <td>{{ device.voltage }}</td>
                            <td>{{ device.electric_current }}</td>
{#                            <td><button class="btn btn-success">查看</button></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="/admin_device/health/?page={{ page|add:-1 }}">上一页</a>
                        </li>
                        <li>
                             <a href="#"><span name="page">{{ page }}</span> / <span name="page_num">{{ page_num }}</span></a>
                        </li>
                        <li>
                             <a href="/admin_device/health/?page={{ page|add:1 }}">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

{#        <div class="row bg-color device-health-info" style="padding: 10px 30px; border:1px solid #ff0000;">#}
{#            <div class="col-md-12 column">#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">设备编号</div>#}
{#                    <div class="col-md-6">IMG0988001</div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">设备地址</div>#}
{#                    <div class="col-md-6">新街口外大街19号</div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">设备温度</div>#}
{#                    <div class="col-md-6">20℃</div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">联系电话</div>#}
{#                    <div class="col-md-6">12345678910</div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">设备电压</div>#}
{#                    <div class="col-md-6">220V</div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="col-md-6">设备电流</div>#}
{#                    <div class="col-md-6">10A</div>#}
{#                </div>#}
{#                <div class="col-md-6" style="height: 50px; line-height: 30px;">#}
{#                    <div class="col-md-6">设置设备温度阈值</div>#}
{#                    <div class="col-md-6 temperatureBar">#}
{#                        <div class = "taskBoxLinks">#}
{#                            <h3 style="width:10%;"></h3>#}
{#                            <h4></h4>#}
{#                        </div>#}
{#                        温度：<span>60</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6" style="height: 50px; line-height: 30px;">#}
{#                    <div class="col-md-6 horizontal-text-center"><button class="btn btn-success btn-block" style="width: 80%;">提交</button></div>#}
{#                    <div class="col-md-6 horizontal-text-center"><button class="btn btn-danger btn-block" style="width: 80%;">取消</button> </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </div>

{% endblock %}
{% block special_js %}
{#    <script>#}
{#        $(".taskBoxLinks").on("mousemove", function(e){#}
{#            var $mouse = e.pageX - $(this).offset().left;#}
{#            var $span = Math.round($mouse/2);#}
{#            $(this).find('h4').stop().animate({width:$span + '%'}, 50);#}
{#            $(this).next('span').text($span);#}
{#        }).on('mouseleave', function(){#}
{#            $(this).find('h4').stop().animate({width:'10%'}, 50);#}
{#            var $mousex = $(this).find('h3').width();#}
{#            var $spanx = Math.round($mousex/2);  //var $spanx = Math.round($mousex/2)*1;#}
{#            if($spanx >= 40){#}
{#                $(this).next('span').text("过热");#}
{#            }else{#}
{#                $(this).next('span').text($spanx);#}
{#            }#}
{#        }).on("click", function(e){#}
{#            var $mouse = e.pageX - $(this).offset().left;#}
{#            var $span = Math.round($mouse/2);#}
{#            $(this).find('h3').stop().animate({width:$span+'%'}, 100);#}
{#            if($span >= 40){#}
{#                $(this).next('span').css("color","red").text('过热');#}
{#            }else{#}
{#                $(this).next('span').css("color","white").text($span);#}
{#            }#}
{#        });#}
{#    </script>#}
    <script>
        $("[name=filter_city]").on("click", function(){
            var city_code = $(this).prop("id");
            console.log(city_code);
            var village_code = "v0";
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        $("[name=filter_village]").on("click", function(){
            var city_code = $("[name=filter_city] .active").parents().prop("id");
            var village_code = $(this).prop("id");
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        function FilterDeviceByLocationFun(city_code, village_code){
            city_code = city_code.substr(1);
            village_code = village_code.substr(1);
            console.log(city_code);
            console.log(village_code);
            window.location.href = "/admin_device/health/?page=1&city_code=" + city_code + "&village_code=" + village_code;
        }
    </script>
{% endblock %}