{% extends "app/base.html" %}
{% block title %}数据查询{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					数据统计
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
            <div class="form-group">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">设备编号</label>
                            <div class="col-sm-8">
                                <input name = "device_id" type="text" class="form-control" id="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">生产时间</label>
                            <div class="col-sm-4">
                                <input name = "start_time" type="date" class="form-control" id="" />
                            </div>
                            <label for="" class="col-sm-1 control-label">至</label>
                            <div class="col-sm-4">
                                <input name = "end_time" type="date" class="form-control" id="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-6">
                                <input name = "key" type="text" class="form-control" id="" />
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-block btn-success" name="filter_device">查找</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                设备编号
                            </th>
                            <th>
                                设备类型
                            </th>
                            <th>
                                设备地址
                            </th>
                            <th>
                                设备状态
                            </th>
                            <th>
                                设备所有者
                            </th>
                            <th>
                                生产时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody name="device_list_tr">
                    {% for device in device_list %}
                        <tr>
                            <td>{{ device.device_id }}</td>
                            <td>{{ device.type }}</td>
                            <td>{{ device.address }}</td>
                            <td>{{ device.device_status }}</td>
                            <td>{{ device.user }}</td>
                            <td>{{ device.manufacture_date }}</td>
                            <td><button id = "{{ device.device_id }}" class="btn btn-success" onclick="showUserInfo(this.id);">查看</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="/admin_data?page={{ page|add:-1 }}">上一页</a>
                        </li>
                        <li>
                             <a href="#"><span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span></a>
                        </li>
                        <li>
                             <a href="/admin_data?page={{ page|add:1 }}">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


{#        <div class="row" style="padding: 10px 30px;background-color: rgba(40, 42, 55,0.75);">#}
{#            <hr>#}
{#            <div id="deviceInfoMap" style="width: 100%; height:400px;"></div>#}
{#        </div>#}
{#        某一用户的详细使用情况#}
        <div class="row" style="padding: 10px 30px;background-color: rgba(40, 42, 55,0.75);">
            <hr>
            <div class="col-md-12" style="text-align: left;">
                <h4><span class="icon-user"></span>用户名称：用电量统计</h4>
            </div>
            <div class="col-md-12" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                <div id = "userToday" style="width: 100%; height:400px;">该用户今日采集曲线</div>
            </div>
            <div class="col-md-12"  style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;height: auto;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #544949; overflow: hidden;line-height: 30px;">
                    <span class="">其他数据</span>
                    <ul name = "otherParameter" style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li name="voltage" class="li-round-sm active" style="display: inline-block;">电压有效值</li>
                        <li name="electricity" class="li-round-sm" style="display: inline-block;">电流有效值</li>
                        <li name="power_factor" class="li-round-sm" style="display: inline-block;">功率因数</li>
                        <li name="active_power" class="li-round-sm" style="display: inline-block;">有功功率</li>
                        <li name="reactive_power" class="li-round-sm" style="display: inline-block;">无功功率</li>
                    </ul>
                </div>
                <div name="data-graph" class="col-md-12" id="voltage_graph" style="display: block;"></div>
                <div name="data-graph" class="col-md-12" id="electricity_graph" style="display: block;"></div>
                <div name="data-graph" class="col-md-12" id="power_factor_graph" style="display: block;"></div>
                <div name="data-graph" class="col-md-12" id="active_power_graph" style="display: block;"></div>
                <div name="data-graph" class="col-md-12" id="reactive_power_graph" style="display: block;"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                    <div id = "UserMonth" style="width: 100%; height:400px;"></div>
                </div>
                <div class="col-md-6"  style="margin-bottom:1rem;border: solid 1px #FFFFFF;height: 400px;padding-left: 0;padding-right: 0;">
                    <ul class="list-group">
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">用电高峰：<span name="user_power_max"></span>kwh</span><span style="width: 50%;display: inline-block;">时间：<span name="user_day_max"></span></span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">用电低谷：<span name="user_power_min"></span>kwh</span><span style="width: 50%;display: inline-block;">时间：<span name="user_day_min"></span></span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">总用电量：<span name="user_power_total"></span>kwh</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                <div id = "UserYear" style="width: 100%; height:400px;">该用户月度曲线</div>
            </div>
        </div>


        <div class="row bg-color" style="padding: 10px 30px;">
            <hr>
            <div class="col-md-12" style="text-align: left;">
                <h4><span class="icon-menu"></span>地区用电量统计</h4>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                    <div id = "AllUserMonth" style="width: 100%; height:400px;"></div>
                </div>
                <div class="col-md-6" style="margin-bottom:1rem;border: solid 1px #FFFFFF;height: 400px;padding-left: 0;padding-right: 0;">
                    <ul class="list-group">
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">用电高峰：{{ power_max }}kwh</span><span style="width: 50%;display: inline-block;">时间：{{ day_max }}</span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">用电低谷：{{ power_min }}kwh</span><span style="width: 50%;display: inline-block;">时间：{{ day_min }}</span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">总用电量：{{ power_total }}kwh</span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">终端数量：{{ device_num }}</span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">正常数量：{{ device_success }}</span></li>
                       <li class="list-group-item"><span style="width: 50%;display: inline-block;">异常数量：{{ device_error }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                    <div id = "AllUserYear" style="width: 100%; height:400px;">该地点月度曲线</div>
                </div>
                <div class="col-md-6" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                    <div id = "AllUserYearCompare" style="width: 100%; height:400px;">该地点年度曲线</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block special_js %}

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZVN4DbW3hfB9MSgMmwVQBHU8ZV8jRxW"></script>
    <script async src="http://c.cnzz.com/core.php"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script>
        $("[name=otherParameter] li").on("click", function(){
            $(this).addClass("active").siblings().removeClass("active");
            var id = $(this).attr("name") + "_graph";
            var $first = $($("#"+id).siblings().get(0));
            $("#"+id).css("display", "block").siblings().css("display", "none");
            $first.css("display", "block");
        });
    </script>
{#    <script type="text/javascript">#}
{#        var map = new BMap.Map("deviceInfoMap");          // 创建地图实例#}
{##}
{#        var point = new BMap.Point(116.418261, 39.921984);#}
{#        map.centerAndZoom(point, 15);             // 初始化地图，设置中心点坐标和地图级别#}
{#        map.enableScrollWheelZoom(); // 允许滚轮缩放#}
{##}
{#        var points =[#}
{#        {"lng":116.418261,"lat":39.921984,"count":50},#}
{#        {"lng":116.423332,"lat":39.916532,"count":51},#}
{#        {"lng":116.419787,"lat":39.930658,"count":15},#}
{#        {"lng":116.418455,"lat":39.920921,"count":40},#}
{#        {"lng":116.418843,"lat":39.915516,"count":100},#}
{#        {"lng":116.42546,"lat":39.918503,"count":6},#}
{#        {"lng":116.423289,"lat":39.919989,"count":18},#}
{#        {"lng":116.418162,"lat":39.915051,"count":80},#}
{#        {"lng":116.422039,"lat":39.91782,"count":11},#}
{#        {"lng":116.41387,"lat":39.917253,"count":7},#}
{#        {"lng":116.41773,"lat":39.919426,"count":42},#}
{#        {"lng":116.421107,"lat":39.916445,"count":4},#}
{#        {"lng":116.417521,"lat":39.917943,"count":27},#}
{#        {"lng":116.419812,"lat":39.920836,"count":23},#}
{#        {"lng":116.420682,"lat":39.91463,"count":60},#}
{#        {"lng":116.415424,"lat":39.924675,"count":8},#}
{#        {"lng":116.419242,"lat":39.914509,"count":15},#}
{#        {"lng":116.422766,"lat":39.921408,"count":25},#}
{#        {"lng":116.421674,"lat":39.924396,"count":21},#}
{#        {"lng":116.427268,"lat":39.92267,"count":1},#}
{#        {"lng":116.417721,"lat":39.920034,"count":51},#}
{#        {"lng":116.412456,"lat":39.92667,"count":7},#}
{#        {"lng":116.420432,"lat":39.919114,"count":11},#}
{#        {"lng":116.425013,"lat":39.921611,"count":35},#}
{#        {"lng":116.418733,"lat":39.931037,"count":22},#}
{#        {"lng":116.419336,"lat":39.931134,"count":4},#}
{#        {"lng":116.413557,"lat":39.923254,"count":5},#}
{#        {"lng":116.418367,"lat":39.92943,"count":3},#}
{#        {"lng":116.424312,"lat":39.919621,"count":100},#}
{#        {"lng":116.423874,"lat":39.919447,"count":87},#}
{#        {"lng":116.424225,"lat":39.923091,"count":32},#}
{#        {"lng":116.417801,"lat":39.921854,"count":44},#}
{#        {"lng":116.417129,"lat":39.928227,"count":21},#}
{#        {"lng":116.426426,"lat":39.922286,"count":80},#}
{#        {"lng":116.421597,"lat":39.91948,"count":32},#}
{#        {"lng":116.423895,"lat":39.920787,"count":26},#}
{#        {"lng":116.423563,"lat":39.921197,"count":17},#}
{#        {"lng":116.417982,"lat":39.922547,"count":17},#}
{#        {"lng":116.426126,"lat":39.921938,"count":25},#}
{#        {"lng":116.42326,"lat":39.915782,"count":100},#}
{#        {"lng":116.419239,"lat":39.916759,"count":39},#}
{#        {"lng":116.417185,"lat":39.929123,"count":11},#}
{#        {"lng":116.417237,"lat":39.927518,"count":9},#}
{#        {"lng":116.417784,"lat":39.915754,"count":47},#}
{#        {"lng":116.420193,"lat":39.917061,"count":52},#}
{#        {"lng":116.422735,"lat":39.915619,"count":100},#}
{#        {"lng":116.418495,"lat":39.915958,"count":46},#}
{#        {"lng":116.416292,"lat":39.931166,"count":9},#}
{#        {"lng":116.419916,"lat":39.924055,"count":8},#}
{#        {"lng":116.42189,"lat":39.921308,"count":11},#}
{#        {"lng":116.413765,"lat":39.929376,"count":3},#}
{#        {"lng":116.418232,"lat":39.920348,"count":50},#}
{#        {"lng":116.417554,"lat":39.930511,"count":15},#}
{#        {"lng":116.418568,"lat":39.918161,"count":23},#}
{#        {"lng":116.413461,"lat":39.926306,"count":3},#}
{#        {"lng":116.42232,"lat":39.92161,"count":13},#}
{#        {"lng":116.4174,"lat":39.928616,"count":6},#}
{#        {"lng":116.424679,"lat":39.915499,"count":21},#}
{#        {"lng":116.42171,"lat":39.915738,"count":29},#}
{#        {"lng":116.417836,"lat":39.916998,"count":99},#}
{#        {"lng":116.420755,"lat":39.928001,"count":10},#}
{#        {"lng":116.414077,"lat":39.930655,"count":14},#}
{#        {"lng":116.426092,"lat":39.922995,"count":16},#}
{#        {"lng":116.41535,"lat":39.931054,"count":15},#}
{#        {"lng":116.413022,"lat":39.921895,"count":13},#}
{#        {"lng":116.415551,"lat":39.913373,"count":17},#}
{#        {"lng":116.421191,"lat":39.926572,"count":1},#}
{#        {"lng":116.419612,"lat":39.917119,"count":9},#}
{#        {"lng":116.418237,"lat":39.921337,"count":54},#}
{#        {"lng":116.423776,"lat":39.921919,"count":26},#}
{#        {"lng":116.417694,"lat":39.92536,"count":17},#}
{#        {"lng":116.415377,"lat":39.914137,"count":19},#}
{#        {"lng":116.417434,"lat":39.914394,"count":43},#}
{#        {"lng":116.42588,"lat":39.922622,"count":27},#}
{#        {"lng":116.418345,"lat":39.919467,"count":8},#}
{#        {"lng":116.426883,"lat":39.917171,"count":3},#}
{#        {"lng":116.423877,"lat":39.916659,"count":34},#}
{#        {"lng":116.415712,"lat":39.915613,"count":14},#}
{#        {"lng":116.419869,"lat":39.931416,"count":12},#}
{#        {"lng":116.416956,"lat":39.925377,"count":11},#}
{#        {"lng":116.42066,"lat":39.925017,"count":38},#}
{#        {"lng":116.416244,"lat":39.920215,"count":91},#}
{#        {"lng":116.41929,"lat":39.915908,"count":54},#}
{#        {"lng":116.422116,"lat":39.919658,"count":21},#}
{#        {"lng":116.4183,"lat":39.925015,"count":15},#}
{#        {"lng":116.421969,"lat":39.913527,"count":3},#}
{#        {"lng":116.422936,"lat":39.921854,"count":24},#}
{#        {"lng":116.41905,"lat":39.929217,"count":12},#}
{#        {"lng":116.424579,"lat":39.914987,"count":57},#}
{#        {"lng":116.42076,"lat":39.915251,"count":70},#}
{#        {"lng":116.425867,"lat":39.918989,"count":8}];#}
{##}
{#        if(!isSupportCanvas()){#}
{#            alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')#}
{#        }#}
{#        //详细的参数,可以查看heatmap.js的文档 https://github.com/pa7/heatmap.js/blob/master/README.md#}
{#        //参数说明如下:#}
{#        /* visible 热力图是否显示,默认为true#}
{#         * opacity 热力的透明度,1-100#}
{#         * radius 势力图的每个点的半径大小#}
{#         * gradient  {JSON} 热力图的渐变区间 . gradient如下所示#}
{#         *	{#}
{#                .2:'rgb(0, 255, 255)',#}
{#                .5:'rgb(0, 110, 255)',#}
{#                .8:'rgb(100, 0, 255)'#}
{#            }#}
{#            其中 key 表示插值的位置, 0~1.#}
{#                value 为颜色值.#}
{#         */#}
{#        heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":20});#}
{#        map.addOverlay(heatmapOverlay);#}
{#        heatmapOverlay.setDataSet({data:points,max:100});#}
{#        //是否显示热力图#}
{#        function openHeatmap(){#}
{#            heatmapOverlay.show();#}
{#        }#}
{#        function closeHeatmap(){#}
{#            heatmapOverlay.hide();#}
{#        }#}
{#        openHeatmap();#}
{#        function setGradient(){#}
{#            /*格式如下所示:#}
{#            {#}
{#                0:'rgb(102, 255, 0)',#}
{#                .5:'rgb(255, 170, 0)',#}
{#                1:'rgb(255, 0, 0)'#}
{#            }*/#}
{#            var gradient = {};#}
{#            var colors = document.querySelectorAll("input[type='color']");#}
{#            colors = [].slice.call(colors,0);#}
{#            colors.forEach(function(ele){#}
{#                gradient[ele.getAttribute("data-key")] = ele.value;#}
{#            });#}
{#            heatmapOverlay.setOptions({"gradient":gradient});#}
{#        }#}
{#        //判断浏览区是否支持canvas#}
{#        function isSupportCanvas(){#}
{#            var elem = document.createElement('canvas');#}
{#            return !!(elem.getContext && elem.getContext('2d'));#}
{#        }#}
{#    </script>#}
    <script>
        var mm = {{ month_data | safe }};
        var month_day = mm["month_day"];
        var month_power = mm["month_power"];
{#        当前选择区域的用户当月用电量统计#}
        $('#AllUserMonth').highcharts({
            chart: {
                type: 'line',
                backgroundColor: 'rgba(80,81,95,0.1)',
            },
            title: {
                text: '该地区用户当月用电量统计',
                style: {
                    color: '#FFFFFF',
                }
            },
            subtitle: {
                text: '数据来源：征圣云平台',
                style: {
                    color: '#FFFFFF',
                }
            },
            xAxis: {
                categories: month_day,
                style: {
                    color: '#FFFFFF',
                },
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            yAxis: {
                title: {
                    text: '用电量 (Kwh)',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+this.x +': '+ this.y +'°C';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '电量',
                data: month_power
            }]
        });
        var yy = {{ year_data | safe }};
        var year_month = yy["year_month"];
        var year_power = yy["year_power"];
{#        console.log(year_month);#}
        for(var i = 0; i < year_month.length; ++i){
            year_month[i] = year_month[i] + "月";
        }
{#        console.log(year_month);#}
{#        当前选择区域的用户当年用电量统计#}
        $('#AllUserYear').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80],
                backgroundColor: 'rgba(80,81,95,0.1)',
            },
            title: {
                text: '该地区一年用电量',
                style: {
                    color: '#FFFFFF',
                }
            },
            xAxis: {
                categories:year_month,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '用电量(Kwh)',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '当月用电量<b>{point.y:.1f} kwh</b>',
            },
            series: [{
                name: 'Population',
                data: year_power,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
        var yy = {{ year_data | safe }};
        var year_month = yy["year_month"];
        var year_power = yy["year_power"];
        var preYY = {{ pre_year_data | safe }};
        var pre_year_power = preYY["pre_year_power"];
        var compare_max = {{ compare_max  }} + 10;
        for(var i = 0; i < year_month.length; ++i){
            year_month[i] = year_month[i] + "月";
        }
        var chart,
            categories = year_month;
{#        当前选择区域的用户近两年用电量统计#}
        $(document).ready(function() {
            $('#AllUserYearCompare').highcharts({
                chart: {
                    type: 'bar',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '近两年月度用电量对比',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '数据来源：电力公司',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                xAxis: [{
                    categories: categories,
                    reversed: false
                }, { // mirror axis on right side
                    opposite: true,
                    reversed: false,
                    categories: categories,
                    linkedTo: 0,
                }],
                yAxis: {
                    title: {
                        text: null
                    },
                    labels: {
                        formatter: function(){
                            return (Math.abs(this.value) / 1) + 'kwh';
                        },
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    },
                    min: -compare_max,
                    max: compare_max,

                },

                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },

                tooltip: {
                    formatter: function(){
                        return '<b>'+ this.series.name +' '+ this.point.category +'</b><br/>'+
                            '用电量: '+ Highcharts.numberFormat(Math.abs(this.point.y), 0);
                    }
                },

                series: [{
                    name: '上一年',
                    data: pre_year_power
                }, {
                    name: '今年',
                    data: year_power
                }]
            });
        });
    </script>
    <script>
        var device_id;
{#        点击该按钮查看当前用户的用电信息#}
        function showUserInfo(id){
            alertify.success("设备ID = " + id);
            device_id = id;
{#            异步请求该用户的用电信息#}
            $.ajax({
                url: '/admin_data/userinfo/',
                type: 'POST',
                data: {device_id: id},
                success: function(data){
                    if(data == "error"){
                        alertify.error("数据缺失");
                    }else{
{#                        console.log(data);#}
                        var month = data.month;
                        var year = data.year;
                        userMonth(month.month_day, month.month_power);
                        userYear(year.year_month, year.year_power);

                        var today = data.day;
                        userDay(today.day_x, today.day_y);
                        var reactive_power_data = data.reactive_power_data;
                        userReactivePower(reactive_power_data.reactive_power_x, reactive_power_data.reactive_power_y);
                        var active_power_data = data.active_power_data;
                        userActivepower(active_power_data.active_power_x, active_power_data.active_power_y);
                        var power_factor_data = data.power_factor_data;
                        userPowerfactor(power_factor_data.power_factor_x, power_factor_data.power_factor_y);
                        var electric_current_data = data.electric_current_data;
                        userElectricity(electric_current_data.electric_current_x, electric_current_data.electric_current_y);
                        var voltage_data = data.voltage_data;
                        userVoltage(voltage_data);
{#                        userVoltage_test(voltage_data);#}

                        $("[name=data-graph]").css("display", "none");
                        $("#voltage_graph").css("display", "block");
                        $("[name=user_power_max]").html(data.user_power_max);
                        $("[name=user_power_min]").html(data.user_power_min);
                        $("[name=user_day_min]").html(data.user_day_min);
                        $("[name=user_day_max]").html(data.user_day_max);
                        $("[name=user_power_total]").html(data.user_power_total);
                    }
                },
                error: function(data){
                    alertify.error("设备工作不正常");
                }
            });
        }
{#        用户电压有效值#}
        function userVoltage(voltage_data) {
            var time_list = voltage_data.voltage_x;
            var data_list = voltage_data.voltage_y;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
{#                var time = new Date.UTC(2016, 10, 1, i, 0,0);#}
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#voltage_graph').highcharts({

                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '电压有效值',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                credits: false,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year

                        month: '%y-%m-%d %H:%M:%S',
                        year: '%y-%m-%d %H:%M:%S',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '电压有效值'
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 240,
                        color: colors[2]
                    }],
                    name: '电压有效值',
                    data: datas
                }]
            });
        }
{#        用户电流有效值#}
        function userElectricity(xx, yy) {
            var time_list = xx;
            var data_list = yy;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#electricity_graph').highcharts({

                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '电能有效值',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                credits: false,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year

                        month: '%y-%m-%d %H:%M:%S',
                        year: '%y-%m-%d %H:%M:%S',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '电能有效值'
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 0.1,
                        color: colors[1]
                    }, {
                        value: 1,
                        color: colors[2]
                    }],
                    name: '有效电能',
                    data: datas
                }]
            });
        }
{#        用户功率因数#}
        function userPowerfactor(xx, yy) {
            var time_list = xx;
            var data_list = yy;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#power_factor_graph').highcharts({

                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '功率因数',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                credits: false,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year

                        month: '%y-%m-%d %H:%M:%S',
                        year: '%y-%m-%d %H:%M:%S',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '功率因数'
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 0.3,
                        color: colors[1]
                    }, {
                        value: 0.6,
                        color: colors[2]
                    }],
                    name: '功率因数',
                    data: datas
                }]
            });
        }
{#        用户有功功率#}
        function userActivepower(xx,yy) {
            var time_list = xx;
            var data_list = yy;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#active_power_graph').highcharts({

                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '有功功率',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                credits: false,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year

                        month: '%y-%m-%d %H:%M:%S',
                        year: '%y-%m-%d %H:%M:%S',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '有功功率/kW'
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: '有功功率',
                    data: datas
                }]
            });
        }
{#        用户无功功率#}
        function userReactivePower(xx, yy) {
            var time_list = xx;
            var data_list = yy;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#reactive_power_graph').highcharts({

                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '无功功率',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                credits: false,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year

                        month: '%y-%m-%d %H:%M:%S',
                        year: '%y-%m-%d %H:%M:%S',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '无功功率/kVar'
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: '无功功率',
                    data: datas
                }]
            });
        }
    </script>
    <script>
    {#        当前用户当天用电量统计#}
        function userDay(month_day, month_power){
            var time_list = month_day;
            var data_list = month_power;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#userToday').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '当日电量趋势图',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '数据来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%m-%d %H:%M',
                        second: '%m-%d %H:%M',
                        minute: '%m-%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d %H:%M',
                        week: '%m-%d %H:%M',
                        month: '%m-%d %H:%M',
                        year: '%m-%d %H:%M',
                    },
                    title: {
                        text: '时间'
                    },
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '用电量(Kwh)',
                        style: {
                            color: '#FFFFFF',
                        }
                    },
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                tooltip: {
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '电量',
                    data: datas
                }]
            });
        }
{#        当前用户当月用电量统计#}
        function userMonth(month_day, month_power){
            $('#UserMonth').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '该用户当月用电量',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                subtitle: {
                    text: '数据来源：' + device_id + '电表箱',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                xAxis: {
                    categories: month_day,
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '用电量(Kwh)',
                        style: {
                            color: '#FFFFFF',
                        }
                    },
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                tooltip: {
                    enabled: false,
                    formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+this.x +': '+ this.y +'°C';
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '电量',
                    data: month_power
                }]
            });
        }
        {# 当前用户当年用电量统计#}
        function userYear(year_month, year_power){
            for(var i = 0; i < year_month.length; ++i){
                year_month[i] = year_month[i] + "月";
            }
            $('#UserYear').highcharts({
                chart: {
                    type: 'column',
                    margin: [ 50, 50, 100, 80],
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '该用户一年用电量',
                    style: {
                        color: '#FFFFFF',
                    }
                },
                xAxis: {
                    categories: year_month,
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '用电量(Kwh)',
                        style: {
                            color: '#FFFFFF',
                        }
                    },
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            color:'#FFFFFF',
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '用电量: <b>{point.y:.1f} kwh</b>',
                },
                series: [{
                    name: 'Population',
                    data: year_power,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
            });
        }
    </script>
    <script>
{#        城市筛选进行URL变更#}
        $("[name=filter_city]").on("click", function(){
            var city_code = $(this).prop("id");
            console.log(city_code);
            var village_code = "v0";
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        $("[name=filter_village]").on("click", function(){
            var city_code = $("[name=filter_city] .active").parents().prop("id");
            var village_code = $(this).prop("id");
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        function FilterDeviceByLocationFun(city_code, village_code){
            city_code = city_code.substr(1);
            village_code = village_code.substr(1);
            console.log(city_code);
            console.log(village_code);
            window.location.href = "/admin_data?page=1&city_code=" + city_code + "&village_code=" + village_code;
        }
    </script>
{% endblock %}
