<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF8">
    <title>管理登录</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel = "icon" href = "/site_media/images/web_icon.png">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/zhengsheng.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/animate.min.css">
</head>
<body style="background: url(/site_media/images/cloud.jpg);">

    <div class="login-top">
      <div style="height: 60px;background-color: white;overflow: hidden; padding-bottom: 1rem;">
        <div style="margin-left: 160px;">
            <img src="/site_media/images/zhengsheng_icon.jpg" />
        </div>
        <div style="float:right;margin-top: -34px;width: 360px;font-size: 12px;">
            <span onclick="window.location.href='/'" class="hander">返回首页</span>
            <span>|</span>
            <span class="hander">登录帮助</span>
            <span>|</span>
            <span class="hander">在线答疑</span>
        </div>
      </div>
    </div>
    <div class="login-MB">
        <div class="login-window">
            <h3 class="login-title">用户平台登录</h3>
            <div style="display:none;">您输入的密码不正确，请重新输入</div>
            <div class="login-form-input">
              <input type="text" class="form-control" placeholder="用户名/手机号/密码">
            </div>
            <div class="login-form-input">
              <input type="password" class="form-control" placeholder="请输入密码">
            </div>
            <div>
                <input type="checkbox">
                <a class="remember-account">记住账号</a>
                <a class="forget-password">忘记密码?</a>
            </div>
            <span style="display:none;">您输入的密码不正确，请重新输入</span>
            <div class="horizontal-text-center">
                <a class="btn btn-success btn-block" onclick="window.location.href='/admin_index/'"> 立即登录</a>
            </div>
        </div>
    </div>

    <div class="horizontal-text-center zl-footer">
        <section>
            <h4>友情链接</h4>
            <p>
                <a href="http://www.nmc.gov.cn/" target="_blank" rel="nofollow">中央气象台</a>
                 |<a href="http://www.weather.com/" target="_blank" rel="nofollow">美国气象频道</a>
                 |<a href="http://www.weather.com.cn/" target="_blank" rel="nofollow">中国天气网</a>
                 |<a href="http://www.pm25.com/" target="_blank" rel="nofollow">绿色呼吸</a>
                 |<a href="http://www.feeyo.com/" target="_blank" rel="nofollow">飞友网</a>
                 |<a href="http://i.firefoxchina.cn/?www.firefoxchina.cn" target="_blank" rel="nofollow">火狐浏览器</a>
                 |<a href="http://tianqitong.sina.cn/" target="_blank" rel="nofollow">天气通</a>
                 |<a href="http://weather.mipang.com" target="_blank" rel="nofollow">米胖天气</a>
                 |<a href="http://www.xn121.com/" target="_blank" rel="nofollow">兴农网</a>
                 |<a href="http://www.mlogcn.com/" target="_blank" rel="nofollow">象辑科技</a>
                 |<a href="http://www.tianqi.com/" target="_blank" rel="nofollow">天气网</a>
            </p>
        </section>
        <section>
            <p>关于我们|联系我们|批评建议</p>
            <p>Copyright © 2016-2016 BNU, All Rights Reserved</p>
            <p>北京师范大学 版权所有</p>
        </section>
    </div>

    <!--JavaScript File -->
    <script type = "text/javascript" src = "/site_media/js/jquery-2.2.1.min.js"></script>
    <script type = "text/javascript" src = "/site_media/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/site_media/js/jquery.transit.js"></script>
    <script type = "text/javascript" src = "/site_media/js/zhengsheng.js"></script>
    <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</body>
</html>