{% extends "app/base.html" %}
{% block title %}设备管理{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">App</a>
				</li>
				<li class="active">
					App用户
				</li>
			</ul>
        </div>
{#        account list#}
        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
            <div class="form-group">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">用户昵称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">注册时间</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="" />
                            </div>
                            <label for="" class="col-sm-1 control-label">至</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" />
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-block btn-success">查找</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                用户编号
                            </th>
                            <th>
                                用户昵称
                            </th>
                            <th>
                                头像
                            </th>
                            <th>
                                手机号
                            </th>
                            <th>
                                邮箱
                            </th>
                            <th>
                                地址
                            </th>
                            <th>
                                注册时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>三哥</td>
                            <td><img src="/site_media/images/cloud.jpg" width="50px" height="50px" class="img-rounded"></td>
                            <td>1234567890</td>
                            <td>email@email.com</td>
                            <td>黑河路12号3栋东户</td>
                            <td>2016-07-14 14:06:59</td>
                            <td><button class="btn btn-success">查看</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="#">Prev</a>
                        </li>
                        <li>
                             <a href="#">1</a>
                        </li>
                        <li>
                             <a href="#">2</a>
                        </li>
                        <li>
                             <a href="#">3</a>
                        </li>
                        <li>
                             <a href="#">4</a>
                        </li>
                        <li>
                             <a href="#">5</a>
                        </li>
                        <li>
                             <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block special_js %}
{% endblock %}