{% extends "app/base.html" %}
{% block title %}管理员列表{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">管理信息</a>
				</li>
				<li class="active">
					管理员列表
				</li>
			</ul>
        </div>
{#        account list#}
        <div class="row bg-color" style="padding: 10px 30px;">
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                编号
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                手机号
                            </th>
                            <th>
                                邮箱
                            </th>
                            <th>
                                地址
                            </th>
                            <th>
                                注册时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adminer in adminer_list %}
                            <tr>
                                <td>{{ adminer.id }}</td>
                                <td>{{ adminer.name }}</td>
                                <td>{{ adminer.telephone }}</td>
                                <td>{{ adminer.email }}</td>
                                <td>{{ adminer.area }}</td>
                                <td>{{ adminer.time }}</td>
                                <td>
{#                                    <button class="btn btn-success">查看信息</button>#}
                                    <button id ="{{ adminer.id }}" class="btn btn-danger" style="margin-left: 10px;" name="sendMail">发送邮件</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="/admin_info/user/?page={{ page|add:-1 }}">上一页</a>
                        </li>
                        <li>
                             <a href="#"><span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span></a>
                        </li>
                        <li>
                             <a href="/admin_info/user/?page={{ page|add:1 }}">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12 column" style="">
                <div class="col-md-12">
                    <h4 style="margin-top: 0;">新增管理员信息</h4>
                </div>
                <div class="col-md-12 column">
                    <form name="adminer_info" class="form-horizontal" role="form" onsubmit="return createAdminerFun();">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">手机</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-6 col-md-6" style="text-align: right;">
                            <button class="btn btn-success" style="width: 20%;">保存</button>
                        </div>
                    </form>
                </div>
{#                <div class="col-md-12 column">#}
{#                    <div class="col-md-offset-6 col-md-6" style="text-align: right;">#}
{#                        <button class="btn btn-danger" style="width: 20%;">删除</button>#}
{#                        <button class="btn btn-warning" style="width: 20%;">编辑</button>#}
{#                        <button class="btn btn-success" style="width: 20%;">保存</button>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12 column" style="">
                <div class="col-md-12">
                    <h4 style="margin-top: 0;">发送邮件</h4>
                </div>
                <div class="col-md-12 column" style="border: 1px solid #ffffff; padding: 10px 0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
                    <form class="form-horizontal" role="form" name="mailForm" onsubmit="return sendMainFun();">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">收件人</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="" style="color: black !important;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">主题</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="" style="color: black !important;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-9">
                                    <textarea  rows="15" cols="20" style="width: 100%;color: black !important;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-offset-2 col-md-4">
                                <button class="btn btn-info">发送</button>
{#                                <button class="btn btn-default">取消</button>#}
                            </div>
                            <div class="col-md-5" style="text-align: right;">
                                发件人：system@zhengsheng.com
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block special_js %}
     <script>
        $("#collapseOne").removeClass("in");
        $("#collapseTwo").addClass("in");
    </script>
    <script>
        function createAdminerFun(){
            var name = $($($("[name=adminer_info]").children().get(0)).children().children().get(1)).children().val();
            var phone = $($($("[name=adminer_info]").children().get(1)).children().children().get(1)).children().val();
            var email = $($($("[name=adminer_info]").children().get(2)).children().children().get(1)).children().val();
            var area = $($($("[name=adminer_info]").children().get(3)).children().children().get(1)).children().val();
            if(name == ""){
                $($($("[name=adminer_info]").children().get(0)).children().children().get(1)).children().focus();
                return false;
            }
            if(phone == ""){
                $($($("[name=adminer_info]").children().get(1)).children().children().get(1)).children().focus();
                return false;
            }
            if(email == ""){
                $($($("[name=adminer_info]").children().get(2)).children().children().get(1)).children().focus();
                return false;
            }
            if(area == ""){
                $($($("[name=adminer_info]").children().get(3)).children().children().get(1)).children().focus();
                return false;
            }
            console.log(name);
            console.log(phone);
            console.log(email);
            console.log(area);
            $.ajax({
                url: '/admin_info/user/',
                type: 'POST',
                data: {name:name, phone:phone, email:email, area:area},
                success: function(data){
                    if(data == "success"){
                        alert("添加成功");
                        alertify.success("添加成功");
{#                        sleep(2000);#}
                        window.location.reload();
                    }else{
                        alertify.error("当前用户已存在");
                        return false;
                    }
                },
                error: function(data){
                    alertify.error("添加失败,请稍后再试");
                    return false;
                }
            });
            return false;
        }
    </script>
    <script>
        $("[name=sendMail]").on("click", function(){
            var adminer_id = $(this).prop("id");
            var email = $($(this).parent().parent().children().get(3)).html();
            console.log(email);
            if(email == ""){
                alert("当前用户没有邮箱");
                return false;
            }else{
                var $form = $("[name=mailForm]");
                var $email = $($($form.children().get(0)).children().children().get(1)).children();
                console.log($email);
                $email.val(email).focus();

            }
        });
        function sendMainFun(){
{#            alert("ko");#}
            var $form = $("[name=mailForm]");
            var $email = $($($form.children().get(0)).children().children().get(1)).children();
            var $subject = $($($form.children().get(1)).children().children().get(1)).children();
            var $content = $($($form.children().get(2)).children().children().get(1)).children();
            if($email.val() == ""){
                $email.focus();
                return false;
            }
            if($subject.val() == ""){
                $subject.focus();
                return false;
            }
            if($content.val() == ""){
                $content.focus();
                return false;
            }
            alertify.success("正在发送中");
            $.ajax({
                url: '/admin_info/user/sendMail/',
                type: 'POST',
                data: {email: $email.val(), content: $content.val(), subject:$subject.val()},
                success: function(data){

                    if(data == "success"){
                        alertify.success("发送成功");
                    }else{
                        alertify.error("发送失败，请检查内容");
                    }
                },
                error: function(data){
                    alertify.error("发送失败，请稍后再试");
                }
            });
            return false;
        }
    </script>
{% endblock %}