{% extends "app/base.html" %}
{% block title %}温度监测{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					温度监测
				</li>
			</ul>
        </div>
{#        account list#}
        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
{#            <div class="form-group">#}
{#                <form class="form-horizontal" role="form" onsubmit="return false;">#}
{#                    <div class="col-md-3">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-4 control-label">设备编号</label>#}
{#                            <div class="col-sm-8">#}
{#                                <input type="text" class="form-control" id="" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-3 control-label">安装时间</label>#}
{#                            <div class="col-sm-4">#}
{#                                <input type="date" class="form-control" id="" />#}
{#                            </div>#}
{#                            <label for="" class="col-sm-1 control-label">至</label>#}
{#                            <div class="col-sm-4">#}
{#                                <input type="date" class="form-control" id="" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-5">#}
{#                        <div class="form-group">#}
{#                            <label for="" class="col-sm-2 control-label">关键字</label>#}
{#                            <div class="col-sm-6">#}
{#                                <input type="text" class="form-control" id="" />#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <button class="btn btn-block btn-success">查找</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                设备编号
                            </th>
                            <th>
                                当前温度
                            </th>
                            <th>
                                 采集时间
                            </th>
                            <th>
                                设备地址
                            </th>
                            <th>
                                设备状态
                            </th>
                            <th>
                                设备所有者
                            </th>
                            <th>
                                生产时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody class="temperature-test">
                    {% for device in device_list %}
                        <tr>
                            <td>{{ device.device_id }}</td>
                            <td>{{ device.temperature }}</td>
                            <td>{{ device.temperature_time }}</td>
                            <td>{{ device.address }}</td>
                            <td>{{ device.device_status }}</td>
                            <td>{{ device.user }}</td>
                            <td>{{ device.manufacture_date }}</td>
                            <td><button id = "{{ device.device_id }}" class="btn btn-success" onclick="showTodayTem(this.id);">查看</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="/admin_device/temperature/?page={{ page|add:-1 }}">上一页</a>
                        </li>
                        <li>
                             <a href="#"><span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span></a>
                        </li>
                        <li>
                             <a href="/admin_device/temperature/?page={{ page|add:1 }}">下一页</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="clearfix">
                    <div class="col-md-12" id="time-choice-dialog" style="display: none;">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label" style="padding-top: 6px;">选择时间</label>
                                <div class="col-sm-4">
                                    <input name = "start_time" type="date" class="form-control" id="temp_start_time"  style="color: black !important;"/>
                                </div>
                                <label for="" class="col-sm-1 control-label" style="padding-top: 6px;">至</label>
                                <div class="col-sm-4">
                                    <input name = "end_time" type="date" class="form-control" id="temp_end_time"  style="color: black !important;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-block btn-success" name="temp_time_filter">历史查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;">
                        <div id="device-list-page" style="height: 400px; width: 100%"></div>
                    </div>
                </div>
                <div id="temp_id" class="col-md-12" style="display: none;"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script>
        $("[name=temp_time_filter]").on("click", function(){
            var start_time = $("#temp_start_time").val();
            var end_time = $("#temp_end_time").val();
            console.log(start_time);
            console.log(end_time);
            if(start_time > end_time){
                alert("请选择正确的时间段");
                return;
            }
            if(start_time == "" || end_time == ""){
                alert("请选择 时间段");
                return;
            }

            var id = $("#temp_id").html();
            $.ajax({
                url: '/admin_device/temperature/',
                type: 'POST',
                data: {device_id: id, start_time:start_time, end_time:end_time},
                success: function(data){
                    if(data == "error"){
                        alertify.error("未采集到数据");
                    }else{
                        $("#time-choice-dialog").css("display", "block");
                        console.log(data);
                        var today_hour = data.today_hour;
                        var today_power = data.today_temp;
                        $(function () {
                            var time_list = today_hour;
                            var data_list = today_power;
                            var datas = new Array();
                            var len = data_list.length;
                            for(var i = 0;i < len; ++i){
                                var tmp = new Array();
                                var _ = new Date(time_list[i].replace(/-/g, "/"));
                                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                                tmp.push(time);
                                tmp.push(data_list[i]);
                                datas.push(tmp);
                            }
                            console.log(datas);
                            var colors = ['#00ff00', '#ff0000'];
                            $('#device-list-page').highcharts({
                                chart: {
                                    type: 'line',
                                },
                                title: {
                                    text: '今日数据',
                                    x: -20 //center
                                },
                                subtitle: {
                                    text: '数据来源：' + id + '电表箱',
                                    x: -20
                                },
                                xAxis: {
                                    type: 'datetime',
                                    dateTimeLabelFormats: { // don't display the dummy year
                                        millisecond: '%H:%M:%S',
                                        second: '%H:%M:%S',
                                        minute: '%H:%M',
                                        hour: '%m-%d %H:%M',
                                        day: '%m-%d',
                                        week: '%m-%d',
                                        month: '%Y-%m',
                                        year: '%Y',
                                    },
                                },
                                yAxis: {
                                    title: {
                                        text: '温度 (摄氏度)'
                                    },
                                    plotLines:[{
                                        color:'yellow',           //线的颜色，定义为黄色
                                        dashStyle:'solid',     //默认值，这里定义为实线
                                        value:30,               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                                        width:4                //标示线的宽度，2px
                                    },{
                                        color:'red',           //线的颜色，定义为红色
                                        dashStyle:'solid',     //默认值，这里定义为实线
                                        value:40,               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                                        width:4                //标示线的宽度，2px
                                    }],
                                    min: 0,
                                    max: 65,
                                },
                                plotOptions: {
                                    spline: {
                                        lineWidth: 1.5,
                                        fillOpacity: 0.1,
                                        marker: {
                                            enabled: false,
                                            states: {
                                                hover: {
                                                    enabled: true,
                                                    radius: 2
                                                }
                                            }
                                        },
                                        shadow: false
                                    }
                                },
                                tooltip: {
                                    valueSuffix: '度',
                                    dateTimeLabelFormats: {
                                        millisecond: '%Y-%m-%d %H:%M:%S',
                                        second: '%Y-%m-%d %H:%M:%S',
                                        minute: '%Y-%m-%d %H:%M:%S',
                                        hour: '%Y-%m-%d %H:%M:%S',
                                        day: '%Y-%m-%d %H:%M:%S',
                                        week: '%Y-%m-%d %H:%M:%S',
                                        month: '%Y-%m-%d %H:%M:%S',
                                        year: '%Y-%m-%d %H:%M:%S',
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                                series: [{
                                    zones: [{
                                        value: 0,
                                        color: colors[0]
                                    }, {
                                        value: 0,
                                        color: colors[1]
                                    }],
                                    name: '温度',
                                    data: datas,
                                    color:"#00ff00"
                                }]
                            });
                        });
                    }
                },
                error: function(data){
                    alertify.error("当前设备没有温度数据");
                }
            })
        });
        function showTodayTem(id){
            $("#temp_id").html(id);
            $.ajax({
                url: '/admin_device/temperature/',
                type: 'POST',
                data: {device_id: id},
                success: function(data){
                    if(data == "error"){
                        alertify.error("未采集到数据");
                    }else{
                        $("#time-choice-dialog").css("display", "block");
                        console.log(data);
                        var today_hour = data.today_hour;
                        var today_power = data.today_temp;
                        $(function () {
                            var time_list = today_hour;
                            var data_list = today_power;
                            var datas = new Array();
                            var len = data_list.length;
                            for(var i = 0;i < len; ++i){
                                var tmp = new Array();
                                var _ = new Date(time_list[i].replace(/-/g, "/"));
                                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                                tmp.push(time);
                                tmp.push(data_list[i]);
                                datas.push(tmp);
                            }
                            console.log(datas);
                            var colors = ['#00ff00', '#ff0000'];
                            $('#device-list-page').highcharts({
                                chart: {
                                    type: 'line',
                                },
                                title: {
                                    text: '今日数据',
                                    x: -20 //center
                                },
                                subtitle: {
                                    text: '数据来源：' + id + '电表箱',
                                    x: -20
                                },
                                xAxis: {
                                    type: 'datetime',
                                    dateTimeLabelFormats: { // don't display the dummy year
                                        millisecond: '%H:%M:%S',
                                        second: '%H:%M:%S',
                                        minute: '%H:%M',
                                        hour: '%m-%d %H:%M',
                                        day: '%m-%d',
                                        week: '%m-%d',
                                        month: '%Y-%m',
                                        year: '%Y',
                                    },
                                    min: 0,
                                    max: 65,
                                },
                                yAxis: {
                                    title: {
                                        text: '温度 (摄氏度)'
                                    },
                                    plotLines:[{
                                        color:'yellow',           //线的颜色，定义为黄色
                                        dashStyle:'solid',     //默认值，这里定义为实线
                                        value:30,               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                                        width:4                //标示线的宽度，2px
                                    },{
                                        color:'red',           //线的颜色，定义为红色
                                        dashStyle:'solid',     //默认值，这里定义为实线
                                        value:40,               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                                        width:4                //标示线的宽度，2px
                                    }]
                                },
                                plotOptions: {
                                    spline: {
                                        lineWidth: 1.5,
                                        fillOpacity: 0.1,
                                        marker: {
                                            enabled: false,
                                            states: {
                                                hover: {
                                                    enabled: true,
                                                    radius: 2
                                                }
                                            }
                                        },
                                        shadow: false
                                    }
                                },
                                tooltip: {
                                    valueSuffix: '度',
                                    dateTimeLabelFormats: {
                                        millisecond: '%Y-%m-%d %H:%M:%S',
                                        second: '%Y-%m-%d %H:%M:%S',
                                        minute: '%Y-%m-%d %H:%M:%S',
                                        hour: '%Y-%m-%d %H:%M:%S',
                                        day: '%Y-%m-%d %H:%M:%S',
                                        week: '%Y-%m-%d %H:%M:%S',
                                        month: '%Y-%m-%d %H:%M:%S',
                                        year: '%Y-%m-%d %H:%M:%S',
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                                series: [{
                                    zones: [{
                                        value: 0,
                                        color: colors[0]
                                    }, {
                                        value: 0,
                                        color: colors[1]
                                    }],
                                    name: '温度',
                                    data: datas,
                                    color:"#00ff00"
                                }]
                            });
                        });
                    }
                },
                error: function(data){
                    alertify.error("当前设备没有温度数据");
                }
            })
        }
    </script>
     <script>
        $("#deviceChild").removeClass("in");
        $("#collapseTwo").removeClass("in");
    </script>
    <script>
        $("[name=filter_city]").on("click", function(){
            var city_code = $(this).prop("id");
            console.log(city_code);
            var village_code = "v0";
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        $("[name=filter_village]").on("click", function(){
            var city_code = $("[name=filter_city] .active").parents().prop("id");
            var village_code = $(this).prop("id");
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        function FilterDeviceByLocationFun(city_code, village_code){
            city_code = city_code.substr(1);
            village_code = village_code.substr(1);
            console.log(city_code);
            console.log(village_code);
            window.location.href = "/admin_device/temperature/?page=1&city_code=" + city_code + "&village_code=" + village_code;
        }
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZVN4DbW3hfB9MSgMmwVQBHU8ZV8jRxW"></script>
    <script async src="http://c.cnzz.com/core.php"></script>
{#    <script>#}
{#            console.log(e.parent().prev().prev().prev().prev().prev().html());#}
{#            console.log(e);#}
{#            console.log(e.hasClass("danger"));#}
{#        $(".temperature-test tr td span").each(function(){#}
{#            flush($(this));#}
{#        });#}
{#        function flush(e){#}
{#            if(e.hasClass("danger-tag")){#}
{#                setInterval(function(){#}
{#                    if(e.hasClass("danger")){#}
{#                        e.removeClass("danger");#}
{#                    }else{#}
{#                        e.addClass("danger");#}
{#                    }#}
{#                }, 300);#}
{#            }else if(e.hasClass("warning-tag")){#}
{#                setInterval(function(){#}
{#                    if(e.hasClass("warning")){#}
{#                        e.removeClass("warning");#}
{#                    }else{#}
{#                        e.addClass("warning");#}
{#                    }#}
{#                }, 1000);#}
{#            }#}
{##}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        var map = new BMap.Map("device-list-page");          // 创建地图实例#}
{#        var point = new BMap.Point(117.48, 30.67);  // 创建点坐标#}
{#        //创建多个覆盖点，同时绑定点击事件#}
{#        var indexArr = new Array();#}
{#        var infoWindowArr = new Array();#}
{#        var markerArr = new Array();#}
{#        var X = 117.48, Y = 30.67;#}
{#        var ArrX = new Array();#}
{#        var ArrY = new Array();#}
{#        var dirX = -1;#}
{#        var dirY = -1;#}
{#        for(var i = 0; i < 100; ++i){#}
{#            X = X + dirX * (Math.random()*10 * 0.0001);#}
{#            Y = Y + dirY * (Math.random()*10 * 0.0001);#}
{#            ArrX.push(X);#}
{#            ArrY.push(Y);#}
{#            dirX *= -1;#}
{#            dirY *= -1;#}
{#        }#}
{#        for(var i = 0; i < 100; ++i){#}
{#            indexArr.push(i);#}
{#            if(i%3 == 0){#}
{#                var myIconT = new BMap.Icon("/site_media/images/normal.png", new BMap.Size(20,32), {anchor:new BMap.Size(10,30)});#}
{#                var sContent ='<div"><table class="table"><tr><td>XXX989x' + i + '</td><td>状态：<span style="color:green;">正常</span></td></tr>' +#}
{#                '<tr><td>温度：' + i + '℃</td><td>电压：220V</td></tr><tr><td>电流：'+ i + 'A</td><td>电话：' + i*10000000 + '</td></tr></table></div>';#}
{#            }else if(i%3==1){#}
{#                var myIconT = new BMap.Icon("/site_media/images/danger.png", new BMap.Size(20,32), {anchor:new BMap.Size(10,30)});#}
{#                var sContent ='<div"><table class="table"><tr><td>XXX989x' + i + '</td><td>状态：<span style="color:red;">过热</span></td></tr>' +#}
{#                '<tr><td>温度：' + i + '℃</td><td>电压：220V</td></tr><tr><td>电流：'+ i + 'A</td><td>电话：' + i*10000000 + '</td></tr></table></div>';#}
{#            }else{#}
{#                var myIconT = new BMap.Icon("/site_media/images/warning.png", new BMap.Size(20,32), {anchor:new BMap.Size(10,30)});#}
{#                var sContent ='<div"><table class="table"><tr><td>XXX989x' + i + '</td><td>状态：<span style="color:#fcab46;">略热</span></td></tr>' +#}
{#                '<tr><td>温度：' + i + '℃</td><td>电压：220V</td></tr><tr><td>电流：'+ i + 'A</td><td>电话：' + i*10000000 + '</td></tr></table></div>';#}
{#            }#}
{#            infoWindowArr.push(new BMap.InfoWindow(sContent));#}
{#            var marker = new BMap.Marker(new BMap.Point( ArrX[i], ArrY[i] ),{icon:myIconT});#}
{#            var marker = new BMap.Marker(new BMap.Point( ArrX[i], ArrY[i] ));#}
{#            markerArr.push(marker);#}
{#        }#}
{#        console.log(markerArr);#}
{#        console.log(infoWindowArr);#}
{#        for(var i = 0; i < 100; ++i){#}
{#            map.addOverlay(markerArr[i]);#}
{#            var P = indexArr[i];#}
{#            var ope = new markerClick(i);#}
{#            markerArr[i].addEventListener("click", ope.clickFunc);#}
{#        }#}
{#        function markerClick(i){#}
{#            this.clickFunc = function() {#}
{#                console.log(i);#}
{#                this.openInfoWindow(infoWindowArr[i]);#}
{#            }#}
{#        }#}
{#        var sContent_danger ='<div"><table class="table"><tr><td>XXX989000</td><td>状态：<span style="color:red">过热</span></td></tr>' +#}
{#                '<tr><td>温度：' + 38 + '℃</td><td>电压：220V</td></tr><tr><td>电流：4A</td><td>电话：188888888</td></tr></table></div>';#}
{#        var pt = new BMap.Point(117.49, 30.67);#}
{#        var myIcon = new BMap.Icon("/site_media/images/danger.png", new BMap.Size(20,32), {anchor:new BMap.Size(10,30)});#}
{#        var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注#}
{#        marker2.addEventListener("click", function(){#}
{#            this.openInfoWindow(new BMap.InfoWindow(sContent_danger));#}
{#        });#}
{#        map.addOverlay(marker2);              // 将标注添加到地图中#}
{##}
{#        marker2.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画#}
{#        map.addControl(new BMap.NavigationControl());#}
{#        map.addControl(new BMap.ScaleControl());#}
{#        map.addControl(new BMap.OverviewMapControl());#}
{#        map.addControl(new BMap.MapTypeControl());#}
{#        map.centerAndZoom(point, 19);                 // 初始化地图，设置中心点坐标和地图级别#}
{#        map.enableScrollWheelZoom();#}
{##}
{#        map.enableInertialDragging();#}
{#        map.enableContinuousZoom();#}
{#    </script>#}
{% endblock %}