{% extends "app/base.html" %}
{% block title %}事件管理{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">Home</a>
				</li>
				<li>
					 <a href="#">Device</a>
				</li>
				<li class="active">
					Event
				</li>
			</ul>
        </div>
{#        account list#}
        <div class="row bg-color" style="padding: 10px 30px;">
            <hr>
            <div class="col-md-12 column" style="">
                <table class="table">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                事件编号
                            </th>
                            <th>
                                事件名称
                            </th>
                            <th>
                                提交时间
                            </th>
                            <th>
                                事件内容
                            </th>
                            <th>
                                设备ID
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody class="workOrderList">
                    {% for event in event_list %}
                        <tr style="max-height: 20px;" id="{{ event.id }}">
                            <td>{{ event.name_no }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.time }}</td>
                            <td>{{ event.content }}</td>
                            <td>{{ event.device.device_id }}</td>
                            <td><button class="btn btn-success" onclick="viewDevice(this.id);" id="{{ event.device.device_id }}={{ event.id }}">查看设备</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 column" style="text-align: right;">
                <ul class="pagination account-pagination" style="">
                    <li>
                         <a href="/admin_event/?page={{ page|add:-1 }}">上一页</a>
                    </li>
                    <li>
                         <a href="#" name="pageInfo">第{{ page }}页/共{{ total_page }}页</a>
                    </li>
                    <li>
                         <a href="/admin_event/?page={{ page|add:1 }}">下一页</a>
                    </li>
{#                    <li>#}
{#                         <a href="#">跳转至</a>#}
{#                    </li>#}
{#                    <li>#}
{#                         <input type="number" style="width: 50px;margin-left: 10px;line-height: 1.8571;border-radius: 4px; float: left;">#}
{#                    </li>#}
{#                    <li>#}
{#                         <a href="" class="">确定</a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>

    </div>
{#    显示工单详细信息的悬浮窗#}
    <div class="modal fade" id="device-Info" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span name="d-id"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>城市：<span name="d-cityCode"></span></p>
                    <p>小区：<span name="d-villageCode"></span></p>
                    <p>楼号：<span name="d-buildingCode"></span></p>
                    <p>单元：<span name="d-unitCode"></span></p>
                    <p>房间：<span name="d-roomCode"></span></p>
                    <p>生产日期：<span name="d-manufactureDate"></span></p>
                    <p>设备状态：<span name="d-status"></span></p>
                    <p>采集事件：<span name="d-event"></span></p>
                    <div class="clearfix">
                        <div class="col-md-offset-6 col-md-6 col-sm-12">
                            <button class="btn btn-danger btn-block" onclick="sendMainFun();">邮件通知该用户</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                    <button name = "updateBtn" type="button" class="btn btn-success" onclick="updateWO()">保存</button>#}
                </div>
            </div>
        </div>
    </div>
    <div name="device-id" style="display: none;"></div>
    <div name="event-id" style="display: none;"></div>
{% endblock %}
{% block special_js %}
    <script>
{#        点击按钮显示当前设备的具体信息#}
        $('#device-Info').on('show.bs.modal', function (e) {
            var device_id = $("[name=device-id]").html();
            var event_id = $("[name=event-id]").html();
            var event_name = $($("#"+event_id).children().get(1)).html();
{#            console.log(device_id);#}
            var targetURL = '/admin_device/' + device_id + '/';
            $.ajax({
                url: targetURL,
                type: 'GET',
                cache: false,
                processData: false
            }).done(function(res){
                if(res != "error"){
                    var device_json = JSON.parse(res);
                    $("[name=d-cityCode]").html(device_json.city_code);
                    $("[name=d-villageCode]").html(device_json.village_code);
                    $("[name=d-buildingCode]").html(device_json.building_code);
                    $("[name=d-unitCode]").html(device_json.unit_code);
                    $("[name=d-roomCode]").html(device_json.room_code);
                    $("[name=d-manufactureDate]").html(device_json.manufacture_date);
                    $("[name=d-status]").html(device_json.device_status);
                    $("[name=d-event]").html(event_name);
                }else{
                    alert("数据错误");
                    return;
                }
            }).fail(function(res){
                alert("服务器错误");
                return;
            });
        });
        function viewDevice(id){
            var device_id = id.split("=")[0];
            var event_id = id.split("=")[1];
            $("[name=device-id]").html(device_id);
            $("[name=event-id]").html(event_id);
            $("#device-Info").modal({
                keyboard: false
            })
        }
    </script>
    <script>
        function sendMainFun(){
            var event_id = $("[name=event-id]").html();
            alertify.success("正在发送中");
            $.ajax({
                url: '/admin_event/user/sendMail/',
                type: 'POST',
                data: {event_id:event_id},
                success: function(data){

                    if(data == "success"){
                        alertify.success("发送成功");
                    }else{
                        alertify.error("发送失败，请检查内容");
                    }
                },
                error: function(data){
                    alertify.error("发送失败，请稍后再试");
                }
            });
        }
    </script>
{% endblock %}