{% extends "app/base.html" %}
{% block title %}中继数据管理{% endblock %}
{% block main_body %}
    <div class="main-body">
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">主页</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					中继数据管理
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;">
            {% include 'app/location_filter.html' %}
            <div class="col-md-12 column" style="">
                <table class="table device-list">
                    <thead>
                        <tr style="background-color: rgba(39,25,25,0.35);">
                            <th>
                                设备编号
                            </th>
                            <th>
                                设备地址
                            </th>
                            <th>
                                设备状态
                            </th>
                            <th>
                                生产时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody name="device_list_tr">
                    {% for device in device_list %}
                        <tr>
                            <td>{{ device.device_id }}</td>
                            <td>{{ device.address }}</td>
                            <td>{{ device.device_status }}</td>
                            <td>{{ device.manufacture_date }}</td>
                            <td><button id = "{{ device.device_id }}" class="btn btn-success" onclick="showDeviceInfo(this.id);">查看</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 column" style="text-align: right;">
                    <ul class="pagination account-pagination" style="">
                        <li>
                             <a href="/admin_relay/data/?page={{ page|add:-1 }}">上一页</a>
                        </li>
                        <li>
                             <a href="#"><span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span></a>
                        </li>
                        <li>
                             <a href="/admin_relay/data/?page={{ page|add:1 }}">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="padding: 10px 30px;background-color: rgba(40, 42, 55,0.75);">
                <hr>
                <div class="col-md-12" style="text-align: left;">
                    <h4><span class="icon-user"></span>中继电量数据</h4>
                </div>
                <div class="col-md-12" style="margin-bottom:1rem;border-bottom: solid 1px #FFFFFF;">
                    <div id = "relay_latest" style="width: 100%; height:400px;">最新数据</div>
                </div>
                <div class="col-md-12">
                    <div id = "relay_month" style="width: 100%; height:400px;">当月数据</div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block special_js %}

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZVN4DbW3hfB9MSgMmwVQBHU8ZV8jRxW"></script>
    <script async src="http://c.cnzz.com/core.php"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script>
{#    点击查看按钮查看设备的数据信息#}
    function showDeviceInfo(device_id){
        $.ajax({
            url: '/admin_relay/data/',
            type: 'POST',
            data: {device_id: device_id},
            success: function(data){
                if(data == "error"){
                    alertify.error("获取信息失败，请联系管理员");
                }else{
                    console.log(JSON.parse(data));
                    var json_data = JSON.parse(data);
                    var latest = json_data.latest;
                    var month_data = json_data.month_data;
                    var max_powerV = json_data.max_powerV;
                    var min_powerV = json_data.min_powerV;
                    var power_sum = json_data.power_sum;
                    paintLatest(latest);
                    paintMonth(month_data);
                }
            },
            error: function(data){
                alertify.error("获取信息失败，请联系管理员");
            }
        });
    }
    </script>
    <script>
    function paintLatest(latest){
        var xx = new Array(), v1 = new Array(), v2 = new Array(), v3 = new Array();
        for(var i = 0; i < latest.length; ++i){
            xx.push(latest[i].data_time);
            v1.push(latest[i].a_powerV);
            v2.push(latest[i].b_powerV);
            v3.push(latest[i].c_powerV);
        }
        console.log(xx);
        console.log(v1);
        console.log(v2);
        console.log(v3);
        $('#relay_latest').highcharts({
            chart: {
                type: 'line',
                backgroundColor: 'rgba(80,81,95,0.1)',
            },
            legend: {
                backgroundColor: '#FCFFC5'
            },
            title: {
                text: '中继最新数据',
                style: {
                    color: '#FFFFFF',
                }
            },
            subtitle: {
                text: '来源:征圣云平台',
                style: {
                    color: '#FFFFFF',
                }
            },
            xAxis: {
                categories: xx,
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            yAxis: {
                title: {
                    text: '电能 (KwH)',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                },
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'A相有效电能',
                data: v1,
            }, {
                name: 'B相有效电能',
                data: v2
            }, {
                name: 'C相有效电能',
                data: v3
            }]
        });
    }
    function paintMonth(month_data){
        var xx = new Array(), v1 = new Array(), v2 = new Array(), v3 = new Array(), vt = new Array();
        for(var i = 0; i < month_data.length; ++i){
            xx.push(month_data[i].day);
            v1.push(month_data[i].a_powerV);
            v2.push(month_data[i].b_powerV);
            v3.push(month_data[i].c_powerV);
            vt.push(month_data[i].t_powerV);
        }
        console.log(xx);
        console.log(v1);
        console.log(v2);
        console.log(v3);
        console.log(vt);
        $('#relay_month').highcharts({
            chart: {
                type: 'spline',
                backgroundColor: 'rgba(80,81,95,0.1)',
            },
            legend: {
                backgroundColor: '#FCFFC5'
            },
            title: {
                text: '中继当月数据',
                style: {
                    color: '#FFFFFF',
                }
            },
            subtitle: {
                text: '来源:征圣云平台',
                style: {
                    color: '#FFFFFF',
                }
            },
            xAxis: {
                categories: xx,
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            yAxis: {
                title: {
                    text: '电能 (KwH)',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                },
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        color:'#FFFFFF',
                    }
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'A相有效电能',
                data: v1,
            }, {
                name: 'B相有效电能',
                data: v2
            }, {
                name: 'C相有效电能',
                data: v3
            },{
                name: '总有效电能',
                data: vt
            }]
        });
    }
    </script>
    <script>
{#        城市筛选进行URL变更#}
        $("[name=filter_city]").on("click", function(){
            var city_code = $(this).prop("id");
            console.log(city_code);
            var village_code = "v0";
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        $("[name=filter_village]").on("click", function(){
            var city_code = $("[name=filter_city] .active").parents().prop("id");
            var village_code = $(this).prop("id");
            console.log("c_id = " + city_code + " ; v_id = " + village_code );
            FilterDeviceByLocationFun(city_code, village_code);
        });
        function FilterDeviceByLocationFun(city_code, village_code){
            city_code = city_code.substr(1);
            village_code = village_code.substr(1);
            console.log(city_code);
            console.log(village_code);
            window.location.href = "/admin_relay/data?page=1&city_code=" + city_code + "&village_code=" + village_code;
        }
    </script>
{% endblock %}
