<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF8">
    <title>联系我们</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel = "icon" href = "/site_media/images/web_icon.png">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href = "/site_media/css/zhengsheng.css">
</head>
<body>
    <div class="horizontal-text-center">
         <h3>安徽征圣智能科技有限公司</h3>
         <h5>地址： 安徽省池州市经济技术开发区铜冠大道99号</h5>
         <h5>电话：0566-3396777</h5>
         <h5>传真：0566-3396779</h5>
    </div>
    <!--JavaScript File -->
    <script type = "text/javascript" src = "/site_media/js/jquery-2.2.1.min.js"></script>
    <script type = "text/javascript" src = "/site_media/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>