{% extends "app/base.html" %}
{% block title %}设备入库{% endblock %}
{% block main_body %}
    <div class="main-body">
{#        bread direction#}
        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">Home</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					设备列表
				</li>
			</ul>
        </div>
        <div class="row bg-color" style="padding: 10px 30px;">
            <div class="col-md-12 column" style="">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                类型
                            </th>
                            <th>
                                生产日期
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                               操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for device in  device_list%}
                        <tr>
                            <td>
                                {{ device.device_id }}
                            </td>
                            <td>
                                {{ device.type }}
                            </td>
                            <td>
                                {{ device.manufacture_date }}
                            </td>
                            <td>
                                {{ device.device_status }}
                            </td>
                            <td style="text-align: center;">
                                <button class="btn btn-danger btn-small btn-block">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 column" style="text-align: right;">
                <ul class="pagination account-pagination" style="">
                    <li>
                         <a href="#">Prev</a>
                    </li>
                    <li>
                         <a href="#">1</a>
                    </li>
                    <li>
                         <a href="#">2</a>
                    </li>
                    <li>
                         <a href="#">3</a>
                    </li>
                    <li>
                         <a href="#">4</a>
                    </li>
                    <li>
                         <a href="#">5</a>
                    </li>
                    <li>
                         <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bg-color" style="margin: 10px 0;position: relative;padding: 10px 12px;">
            <span class="glyphicon glyphicon-home" style="display: inline-block;"></span>
            <ul class="breadcrumb breadcrumb-my" style="display: inline-block;">
				<li>
					 <a href="#">Home</a>
				</li>
				<li>
					 <a href="#">设备</a>
				</li>
				<li class="active">
					设备入库
				</li>
			</ul>
        </div>

        <div class="row clearfix bg-color"  style="padding: 10px 30px;color:black !important;">
            <div class="col-md-12 column">
                <div class="col-md-4">
                    <div class="form-group" style＝"height:30px;">
                        <div class="col-md-4" style="line-height: 30px;display: inline-block;">设备类型</div>
                        <div class="col-md-8" style="display: inline-block;">
                            <select name="device_type" class="form-control">
                                <option value="1">终端</option>
                                <option value="2">中继</option>
                                <option value="3">网关</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style＝"height:30px;">
                        <div class="col-md-4" style="line-height: 30px;display: inline-block;">设备数量</div>
                        <div class="col-md-8" style="display: inline-block;">
                            <input name="device_number" type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-block" name="device_instock">入库</button>
                </div>
                <div name="instock_tip" class="col-md-12" style="margin-top:20px;display: none;">
                    <div class="alert alert-success alert-dismissable">
                        已入库设备类型：<span name="device_type">终端</span>，设备编号：<span name="start_no">100000010</span>-<span name="end-no">100000090</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block special_js %}
    <script>
        $("[name=device_instock]").on("click", function(){
            var device_type = $("[name=device_type]").val();
            var device_number = $("[name=device_number]").val();
            console.log(device_type);
            console.log(device_number);
            $.ajax({
                type : 'POST',
                url : '/device/instock/',
                data : {type: device_type, number:device_number},
                dataType : 'json',
                success : function(data){
                    if(data != "error"){
                        $("[name=instock_tip]").css("display", "block");
                        $("[name=device_type]").html(data.type);
                        $("[name=device_type]").html(data.start_no);
                        $("[name=device_type]").html(data.end_no);
                    }else{
                        alert("入库失败，请联系管理员");
                    }
                },
                error : function(data){
                    alert("error =" + data);
                }
            });
        })
    </script>
{% endblock %}