<div class="side-menu">
    <div style="height:65px;line-height: 65px;">
        <h2 class="title" style="display: inline;" onclick="window.location.href='/admin_index/'">征圣</h2>
        <div class="hander" style="position: absolute; right: 0;top:-6px;">
            <span name="slide-btn" class="icon-menu" style="padding: 0 10px"></span>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-background">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    功能列表
                  </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul class="list-group panel-item">
                    <li class="list-group-item" onclick="window.location.href='/admin_account/'"><span class="icon-user"></span><span>账户管理</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_work_order/'"><span class="icon-calendar"></span><span>工单管理</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_event/'"><span class="icon-calendar"></span><span>事件管理</span></li>
                    <li class="list-group-item">
                        <span class="icon-menu"></span><span data-toggle="collapse" data-parent="" href="#deviceChild">设备管理</span>
                        <div id="deviceChild" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul class="list-group panel-item">
                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/admin_device/'"><span class="icon-view-list" style="margin-left: 25px;"></span><span>设备列表</span></li>
                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/admin_device/add/'"><span class="icon-plus" style="margin-left: 25px;"></span><span>用户登记</span></li>
                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/admin_device/remove/'"><span class="icon-minus" style="margin-left: 25px;"></span><span>设备移除</span></li>
{#                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/admin_device/location/'"><span class="icon-location" style="margin-left: 25px;"></span><span>设备定位</span></li>#}
                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/device/list/'"><span class="icon-export" style="margin-left: 25px;"></span><span>设备入库</span></li>
                                <li class="list-group-item" style="color:#0DB8DF;" onclick="window.location.href='/admin_device/maintain/'"><span class="icon-gear" style="margin-left: 25px;"></span><span>设备维修</span></li>
                            </ul>
                          </div>
                        </div>
                    </li>
                    <li class="list-group-item" onclick="window.location.href='/admin_data/'"><span class="icon-information"></span><span>终端数据</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_relay/data/'"><span class="icon-information"></span><span>中继数据</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_device/temperature/'"><span class="icon-information"></span><span>温度监测</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_device/health/'"><span class="icon-heart"></span><span>健康监测</span></li>
{#                    <li class="list-group-item" onclick="window.location.href='/admin_device/leakage/'"><span class="icon-export"></span><span>漏电监测</span></li>#}

{#                    <li class="list-group-item"><span class="icon-headset"></span><span>心跳监测</span></li>#}
{#                    <li class="list-group-item"><span class="icon-location"></span><span>设备定位</span></li>#}
{#                    <li class="list-group-item"><span class="icon-code"></span><span>条码管理</span></li>#}
                </ul>
              </div>
          </div>
        </div>
        <div class="panel panel-background">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    管理列表
                  </a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-group panel-item">
                    <li class="list-group-item" onclick="window.location.href='/admin_device/gateway/parameter/'"><span class="icon-download"></span><span>网关参数</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_info/user/'"><span class="icon-download"></span><span>管理员信息</span></li>
                    <li class="list-group-item" onclick="window.location.href='/admin_area/list/'"><span class="icon-export"></span><span>地区管理</span></li>
                </ul>
              </div>
          </div>
        </div>
{#        <div class="panel panel-background">#}
{#          <div class="panel-heading">#}
{#              <h4 class="panel-title">#}
{#                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">#}
{#                    第 3 部分#}
{#                  </a>#}
{#              </h4>#}
{#          </div>#}
{#          <div id="collapseThree" class="panel-collapse collapse">#}
{#              <div class="panel-body">#}
{#                <ul class="list-group panel-item">#}
{#                    <li class="list-group-item" onclick="window.location.href='/admin_mobile/download/'"><span class="icon-download"></span><span>App下载</span></li>#}
{#                    <li class="list-group-item"><span class="icon-search"></span><span>App设置</span></li>#}
{#                    <li class="list-group-item" onclick="window.location.href='/admin_mobile/user/'"><span class="icon-user"></span><span>App用户</span></li>#}
{#                </ul>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="panel panel-background">#}
{#          <div class="panel-heading">#}
{#              <h4 class="panel-title">#}
{#                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">#}
{#                    地区管理#}
{#                  </a>#}
{#              </h4>#}
{#          </div>#}
{#          <div id="collapseFour" class="panel-collapse collapse">#}
{#              <div class="panel-body">#}
{#                <ul class="list-group panel-item">#}
{#                    <li class="list-group-item" onclick="window.location.href='/admin_area/list/'"><span class="icon-download"></span><span>地区列表</span></li>#}
{#                </ul>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="panel panel-background">#}
{#          <div class="panel-heading">#}
{#              <h4 class="panel-title">#}
{#                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">#}
{#                    管理信息#}
{#                  </a>#}
{#              </h4>#}
{#          </div>#}
{#          <div id="collapseFive" class="panel-collapse collapse">#}
{#              <div class="panel-body">#}
{#                <ul class="list-group panel-item">#}
{#                    <li class="list-group-item" onclick="window.location.href='/admin_info/user/'"><span class="icon-download"></span><span>管理员信息</span></li>#}
{#                </ul>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}

    </div>
</div>

