<ul class="side-menu in">
  <h2 class="title">Menu</h2>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
  <li class="link"><a href="http://www.htmleaf.com" target="_blank">jQuery之家</a></li>
</ul>
<div class="hander" name="slide-btn">TMPBTN</div>
